@media screen and (max-width: 1215px) {
  .reviews .slider5_present5 {
    width: 500px;
    height: 260px;
  }

  .reviews h3,
  .reviews .tiitle {
    text-align: center;
  }

  .reviews {
    grid-template-columns: 500px;
  }
  .Integrating .items {
    grid-template-columns: 253px 253px;
  }

  .reviews .grid {
    grid-template-columns: 280px 280px;
  }

  .artice .item {
    grid-template-columns: 330px;
    grid-gap: 20px 0px;
  }

  .artice {
    padding: 0px 5px;
  }

  .artice .item1 .cell:nth-child(1) {
    background-position: bottom left;
  }

  .artice .item1 .cell:nth-child(3) {
    background-position: bottom left;
  }

  .artice .item1 .cell:nth-child(4) {
    background-image: url(../images/artice_img3_left.png),
      url(../images/article_img3_right.png);
    background-repeat: no-repeat;
    background-position: bottom, right bottom;
  }

  .tariffs {
    grid-template-columns: 370px;
    grid-gap: 20px 0px;
  }

  .tariffs .tr_evolved {
    position: relative;
    top: -11px;
  }

  .tariffs .border a {
    top: 20px !important;
  }

  .artice .item1 {
    grid-template-columns: 330px;
    grid-gap: 20px 0px;
  }

  .Integrating ul li {
    float: none;
  }

  .Integrating {
    height: auto;
    padding-bottom: 40px;
  }

  .integration {
    padding-bottom: 40px;
  }

  .integration .header {
    grid-template-columns: 605px;
  }

  .tools .center {
    grid-template-columns: 835px;
  }

  .integration h1,
  .integration .header p {
    text-align: center;
  }

  .integration .menu ul li {
    float: none;
    margin-left: 0px;
  }

  .integration .slider_present2 {
    width: 520px;
  }

  .integration .menu {
    grid-template-columns: 290px;
    margin-top: 90px;
    margin-bottom: 10px;
  }

  .img_pos_mob {
    position: relative;
    top: -100px;
  }

  .tools img {
    margin-bottom: -49px;
  }

  .tools .img_top {
    margin-top: -65px;
  }

  .tools img {
    width: 800px;
  }

  .tools h1 {
    font-size: 50px;
  }

  .container .header {
    grid-template-columns:179px 525px 50px 140px  !important;
  }
  .container header {
    width: 940px !important;
  }

  #lang {
          left: 2px;
        top: 4px;
        position: relative;
        z-index: 200;
  }

  .feedback {
    grid-template-columns: 573px;
  }
  .robots {
    display: none;
  }

  .mobile_block {
    display: block;
  }

  .employees .slider_present1 {
    width: 580px;
    height: 300px;
    margin-bottom: 100px;
  }

  .employees .slider_present1 .position {
    position: relative;
    left: -643px;
    top: -170px;
    display: none;
  }

  .employees .slider_present1 .change_slider {
    display: grid;
    grid-template-columns: 76px 76px;
    width: 50px;
    grid-gap: 0px 15px;
  }

  .slider_present1 .swiper-button-next::after,
  .slider_present1 .swiper-button-prev::after {
    color: black;
    font-size: 50px;
  }

  .order {
    grid-template-columns: 455px;
    margin-bottom: 80px;
  }
  .order .text {
    grid-template-columns: 29px 421px;
  }

  .web_platform {
    grid-template-columns: 370px;
    grid-gap: 10px 0px;
  }
}

@media screen and (max-width: 980px) {
  .mobile_block2 .cell:nth-child(1) {
    display: block !important;
  }

  .feedback {
    display: none;
  }

  #consultation .menu_link {
    font-size: 16px !important;
  }

  .container button {
    font-size: 13px !important;
    position: relative;
    left: 44px;
  }

  .container .header {
    grid-template-columns: 186px 126px 23px 50px!important;
    justify-content: start;
    margin-left: 10px;
  }


    
  .container header {
    width: 550px !important;
  }

  header button {
    position: relative;
    z-index: 50;
  }

  header ul {
    position: relative;
    z-index: 20;
    margin: 30px 0 0 50px;
  }
  header ul li {
    float: none;
    margin-bottom: 40px;
  }

  header ul li a {
    font-size: 25px;
  }

  .menu_list > li {
    float: none;
  }

  .menu_icon {
    z-index: 20;
    display: block;
    position: fixed;
    width: 30px;
    height: 18px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    left: 89%;
    top: 70px;
  }

  .menu_icon span,
  .menu_icon::before,
  .menu_icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu_icon::before,
  .menu_icon::after {
    content: "";
  }

  .menu_icon::before {
    top: 0;
  }

  .menu_icon::after {
    bottom: 0;
  }

  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu_body {
    float: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 70px 0 0 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu_list {
    padding-left: 40px;
  }

  .menu_body._active {
    left: 0;
  }

  .menu_body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 500;
  }

  .menu_link {
    font-size: 180% !important;
  }

  .menu_list > li {
    flex-wrap: wrap;
  }

  body._touch .menu_arrow {
    position: absolute;
    margin: 10px 0px 10px 94px;
  }

  .menu_sub_list {
    position: relative;
    flex: 1 1 100%;
    display: none;
    right: 30px;
    top: -10px;
  }

  .menu_list > li._active .menu_sub_list {
    display: block;
  }

  body._lock {
    overflow: hidden;
  }

  .menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu_icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu_icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

@media screen and (max-width: 590px) {
  .container .header {
    grid-template-columns: 179px !important;
    justify-content: center;
    grid-gap: 10px 0px ;
  }

  .container header {
    height: 133px;
  }


  #lang {
            left: 80px;
        top: -3px;
        position: relative;
        z-index: 200;
  }
  .container header {
    width: 420px !important;
  }

  .container button {
    left: 2px;
    font-size: 14px;
    width: 180px;
  }

  .container .header {
    margin-left: 0px;
    grid-template-columns: 195px;
  }

  .mobile_block2 h1 {
    font-size: 30px;
  }

  .mobile_block2 {
    grid-template-columns: 411px;
  }

  .mobile_block2 p {
    font-size: 16px;
  }

  .order .ai_manager {
    width: 387px;
  }

  .order {
    grid-template-columns: 388px;
  }

  .order .item {
    grid-gap: 0px 10px;
  }

  .order h2 {
    font-size: 38px;
  }

  .order .text {
    grid-template-columns: 29px 354px;
  }

  .order .text p {
    font-size: 22px;
  }
}

@media screen and (max-width: 460px) {
  .container button {
    font-size: 12px;
  }

  .container .header {
    grid-template-columns: 179px !important;
  }

  .container header {
    width: 326px !important;
    height: 165px;
  }

  .mobile_block2 {
    grid-template-columns: 313px;
  }

  .container header button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 420px) {
  .order .ai_manager {
    width: 330px;
  }

  .order .item {
    grid-template-columns: 97px 222px;
  }
  .order .item1 {
    grid-template-columns: 84px 219px;
  }

  .order .item2 {
    grid-template-columns: 77px 138px 69px;
  }

  .order {
    grid-template-columns: 329px;
  }

  .order .text {
    grid-template-columns: 29px 295px;
  }

  .order h2 {
    font-size: 36px;
  }

  .web_platform .bg_order1 h2,
  .web_platform .bg_order1 p {
    margin-left: 12px;
  }

  .web_platform {
    grid-template-columns: 335px;
  }

  .web_platform .bg_image img {
    width: 338px;
    left: 4px;
  }

  .web_platform .mobile_slider2 {
    top: -83px;
  }
}

@media screen and (max-width: 875px) {
  .tools h1 {
    font-size: 40px !important;
  }

  .tools img {
    width: 500px;
  }

  .tools .center {
    grid-template-columns: 500px;
  }

  .tools img {
    margin-bottom: -31px;
  }

  .tools .img_top {
    margin-top: -46px;
  }
}

@media screen and (max-width: 720px) {
  .tools h1 {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 540px) {
  .tools h1 {
    width: 300px;
    text-align: center;
    line-height: 35px;
    margin: 0px auto 200px;
  }

  .tools img {
    width: 330px;
  }

  .tools .center {
    grid-template-columns: 332px;
  }

  .img_pos_mob {
    top: -122px;
  }

  .tools .img_top {
    margin-top: -33px;
  }

  .tools img {
    margin-bottom: -16px;
  }
}

@media screen and (max-width: 585px) {
  .integration .header img {
    width: 300px !important;
    height: 180px !important;
  }
  .integration .header {
    grid-template-columns: 314px;
  }

  .integration h1 {
    font-size: 26px;
  }

  .integration .header p {
    font-size: 25px;
  }

  .integration .slider4_present3 {
    width: 254px;
  }
}

@media screen and (max-width: 580px) {
  .Integrating .items {
    grid-template-columns: 253px;
  }
}

@media screen and (max-width: 400px) {
  .tariffs {
    grid-template-columns: 335px;
  }

  .tariffs .content {
    width: 280px;
  }

  .tariffs .text .cell:nth-child(1),
  .tariffs .text .cell:nth-child(3) {
    width: 70px;
  }

  .tariffs .text {
    grid-template-columns: 70px 113px 90px;
  }

  .tariffs .border a {
    width: 304px;
  }

  .tariffs .evoled {
    width: 279px;
  }

  .tariffs .tr_evolved {
    width: 288px;
  }
}

@media screen and (max-width: 530px) {
  .reviews .slider5_present6 {
    width: 282px;
  }

  .feed_back {
    grid-template-columns: 330px !important;
  }

  .feed_back input {
    width: 300px !important;
  }
  .feed_back .item {
    grid-template-columns: 308px !important;
  }

  .feed_back .data {
    left: -51px !important;
  }

   .feed_back .send {
    left: 30px !important;
    top: -38px !important;
  }

  footer .content {
    width: 330px !important;
  }

  footer .image {
        top: -150px !important;
        left: 126px !important;
  }
}

@media screen and (max-width: 830px) {
  .feed_back {
    grid-template-columns: 500px;
  }

  .feed_back input {
    width: 450px;
  }

  .feed_back .item {
    grid-template-columns: 456px;
  }

  .feed_back .data {
    grid-template-columns: 200px;
    left: -132px;
  }

  .feed_back .send {
    left: 104px;
    top: -38px;
  }

  .feed_back .form {
    padding-bottom: 30px;
  }

}


@media screen and (max-width: 1020px) {
    footer .content {
        grid-template-columns: 300px;
        width: 500px;
        grid-gap: 20px 0px;
        height: 600px;
    }

    footer .image {
              width: 100px;
        height: 150px;
        top: -152px;
        left: 195px;
       }

       .menu_footer a {
        font-size: 20px !important;
       }

   
}

@media screen and (max-width: 650px) {
    .services .item {
        grid-template-columns: 174px ;
        grid-gap: 10px 0px;
    }

    .services .rotate_right {
        transform: none;
        top: 0;
        left: 0;
    }

    .services .item1 {
        grid-template-columns: 230px;
        grid-gap: 10px 0px;
    }

    .services .item1 .cell:nth-child(1) {
        left: 0;
    }

    .services .rotate_left {
        transform: none;
        top: 0;
        left: 0;
    }

    .services .item p, .services .item1 p {
        font-size: 30px;
    }

    .services .slider1_present2 {
       width: 280px;
    }

    .services .text {
        grid-template-columns: 300px;
    }
}

@media screen and (max-width: 650px) {
    .integration .header {
        grid-template-columns: 300px;
    }
    .integration .header img {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 520px) {
    .reviews {
        grid-template-columns: 290px;
    }
}

@media screen and (max-width: 490px) {
.web_platform .bg_image img {
    width: 380px;
    left: 8px;
}
}

@media screen and (max-width: 420px) {
  .web_platform .bg_image img {
    width: 340px;
        left: -4px;
}  
}
