@media screen and (max-width: 1200px) {
  .bg_header {
    padding-left: 50px;
  }

  .bg_header {
    grid-template-columns: 249px 704px !important;
  }
}

@media screen and (min-width: 1200px) {
  .bg_header {
    padding-left: 0px;
  }
}

/* @media screen and (max-width: 1200px) {
 .header {
    background-image: none !important;
        position: absolute;
    width: 100%;
    top: 0;
  }

  .header_img {
    display: block !important;
  }

} */

@media screen and (max-width: 1400px) {
  .professionals {
    left: 40px !important;
  }
}

@media screen and (max-width: 1120px) {
  .bg_header {
    grid-gap: 0px 10px !important;
    padding-left: 10px;
  }

  .header__menu ul li {
    margin-left: 20px !important;
  }

  .services {
    grid-gap: 25px 25px !important;
  }

  .work {
    grid-gap: 25px !important;
  }

  .formats__grid {
    grid-template-columns: 519px !important;
  }

  .formats__item1_none {
    display: none;
  }

  .formats .height {
    height: 930px;
  }
}

@media screen and (max-width: 1190px) {
  .values {
    margin-top: 245px !important;
  }

  /* .bg_footer {
        border-radius: 30% 30% 0 0 !important;
    }

    .footer {
        grid-template-columns: 407px !important;
        grid-gap: 40px 0px !important;
    } */

  .bg_footer {
    height: 184% !important;
    border-radius: 30% 30% 0 0 !important;
  }

  /* .footer__item {
        grid-template-columns: 260px !important;
    }  */

  .footer {
    grid-gap: 0px 14px !important;
  }
}

@media screen and (max-width: 975px) {
  .menu_icon {
    z-index: 20;
    display: block;
    position: fixed;
    width: 30px;
    height: 18px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 300;
    right: 0;
  }

  .menu_icon::before {
    top: 0;
    width: 15px !important;
    left: 8px !important;
  }

  .menu_icon::after {
    bottom: 0;
    width: 15px !important;
    left: 8px !important;
  }

  .menu_icon::before,
  .menu_icon::after {
    content: "";
  }

  .menu_icon span,
  .menu_icon::before,
  .menu_icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header__menu {
    float: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 70px 0 0 0px;
    transition: left 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 205;
  }

  .header__menu::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 200;
  }

  .bg_header {
    grid-template-columns: 249px !important;
  }

  .header__menu ul li a {
    position: relative;
    z-index: 200;
  }

  .header__logo {
    z-index: 100;
  }

  .header__logo a {
    position: relative;
    z-index: 202;
  }

  .header__menu ul li {
    float: none !important;
    margin-bottom: 20px;
  }

  .header__menu._active {
    left: 0;
  }

  body._lock {
    overflow: hidden;
  }

  .menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu_icon._active::before {
    top: 47%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu_icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .services {
    grid-template-columns: 461px !important;
  }

  .work {
    grid-template-columns: 270px !important;
  }

  .work h2 {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    font-size: 30px !important;
    margin-bottom: 0px !important;
  }

  .work__cell_item1 {
    border: none !important;
  }

  .work img {
    display: none;
  }

  .work__cell_item2 {
    background: none !important;
  }

  .work p {
    color: #454343 !important;
  }

  .work__cell {
    height: 50px !important;
  }

  .work__cell_item3 {
    background: none !important;
  }

  .work__cell_item4 {
    background: none !important;
  }

  .work__cell_item5 {
    border: none !important;
  }

  .work__cell_item6 {
    background: none !important;
  }

  .work__cell_item5 p {
    margin-top: 0px !important;
  }

  .work__cell_item2 p {
    margin-top: 20px !important;
  }

  .work__cell_item4 p {
    margin-top: 15px !important;
  }

  .work__cell_item6 {
    left: 0 !important;
  }

  .work__cell_item3 p {
    margin-top: 15px !important;
  }

  .work__cell_item6 p {
    margin-top: 35px !important;
  }

  .work {
    margin-top: 80px !important;
  }

  .work p {
    margin-left: 0px !important;
  }

  .work__cell_item5 {
    width: 276px !important;
  }

  .work__text1 {
    background: url("../images/m_icon1.png") no-repeat left 30%;
    padding-left: 45px;
  }

  .work__text2 {
    background: url("../images/m_icon2.png") no-repeat left 30%;
    padding-left: 45px;
  }

  .work__text3 {
    background: url("../images/m_icon3.png") no-repeat left 30%;
    padding-left: 45px;
  }

  .work__text4 {
    background: url("../images/m_icon4.png") no-repeat left 30%;
    padding-left: 45px;
  }

  .work__text5 {
    background: url("../images/m_icon5.png") no-repeat left 30%;
    padding-left: 45px;
  }

  .work__text6 {
    background: url("../images/m_icon6.png") no-repeat left 30%;
    padding-left: 45px;
  }

  .feedback input {
    float: none !important;
    width: 281px !important;
    height: 45px !important;
    margin-bottom: 10px;
    margin-left: 0px !important;
    color: #22222359 !important;
    font-size: 14px !important;
  }

  .feedback .spec,
  .feedback .connection {
    float: none !important;
    width: 281px !important;
    height: 45px !important;
    margin-left: 0px !important;
  }

  .feedback .spec label,
  .feedback .connection label {
    font-size: 15px !important;
  }

  .feedback {
    grid-template-columns: 301px !important;
  }

  .feedback__user {
    width: 301px !important;
  }

  .feedback h2 {
    font-size: 18px !important;
    color: #f7f6ef !important;
    margin-left: 0px !important;
  }

  .feedback p {
    color: #f7f6ef !important;
    font-size: 15px !important;
    margin-left: 0px !important;
  }

  .feedback .center {
    padding-left: 20px !important;
  }

  .feedback .cell {
    height: 535px !important;
    padding-top: 10px !important;
    background-color: #879b6a !important;
  }

  .feedback .center .cell {
    background: none !important;
  }

  .feedback .none_br {
    display: none;
  }

  .feedback input[type="submit"] {
    left: 0 !important;
  }

  .feedback .m_top {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }

  .feedback .menu input[type="checkbox"],
  .feedback .menu2 input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
    padding-left: 10px;
  }

  .feedback .menu,
  .feedback .menu2 {
    width: 281px !important;
    padding-left: 10px;
  }

  .feedback .menu {
    top: 346px !important;
    left: 11px !important;
  }

  .feedback .menu2 {
    top: 403px !important;
    left: 11px !important;
  }

  .psychoanalysis {
    grid-auto-columns: 300px;
  }

  .psychoanalysis h2 {
    font-size: 23px !important;
  }

  .psychoanalysis p {
    color: #454343 !important;
    font-size: 15px !important;
    line-height: 150% !important;
  }

  .psychoanalysis {
    margin-top: 50px !important;
  }

  .formats__grid {
    display: none !important;
  }

  .formats__classes {
    display: block !important;
  }

  .formats h2 {
    font-size: 30px !important;
  }

  .swiper {
    width: 300px !important;
    height: 530px !important;
  }

  .specialists {
    grid-template-columns: 282px !important;
  }

  .specialists h2 {
    font-size: 25px !important;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    top: 490px !important;
  }

  .swiper-button-next {
    left: 148px !important;
  }

  .swiper-button-prev {
    left: 81px !important;
  }

  .specialists .img_center {
    bottom: 98px !important;
  }

  .bg_footer {
    border-radius: 0px !important;
  }

  .center_content {
    grid-template-columns: 240px !important;
    grid-gap: 50px 0px;
  }
  .center_content .none {
    top: 0px !important;
  }

  .center_content h2 {
    font-size: 30px !important;
    margin-top: 20px;
  }

  .center_content__subtitle {
    line-height: 150% !important;
  }

  .bg_footer {
    background: none !important;
  }

  .values__bg {
    background: none !important;
  }

  .values h2,
  .values p {
    color: #454343 !important;
  }

  .values {
    grid-template-columns: 300px !important;
    margin-top: 50px !important;
    padding-bottom: 30px;
  }

  .values .cell:nth-child(2) {
    top: 0px !important;
    grid-row: 2 !important; /* Первая строка */
    grid-column: 1 !important; /* Вторая колонка */
  }

  .values h2 {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    grid-row: 1; /* Первая строка */
    grid-column: 2; /* Вторая колонка */
    top: 0px !important;
    font-size: 30px !important;
  }

  .svg_icon1 {
    fill: #66a9c3;
    background-color: #f7f7ef;
    stroke: #66a9c3;
    margin-top: 20px;
  }

  .footer {
    background-color: #adba5e;
  }

  .yourself {
    grid-template-columns: 301px !important;
  }

  .yourself h2 {
    font-size: 18px !important;
    margin-top: 10px !important;
    margin-left: 10px;
    color: #fff !important;
    margin-bottom: 10px !important;
  }

  .yourself .cell {
    background-color: #879b6a !important;
    height: 388px;
  }

  .yourself p {
    font-size: 15px !important;
    margin-left: 10px;
    color: #fff !important;
    width: 250px;
  }

  .yourself input {
    float: none !important;
    width: 281px !important;
    height: 45px !important ;
    margin-bottom: 4px !important;
    z-index: 300 !important;
  }

  .yourself input[type="checkbox"] {
    z-index: 100 !important;
  }

  #position_form {
    width: 301px !important;
  }

  .yourself .center {
    display: grid;
    justify-content: center;
  }

  .yourself .none {
    margin-left: 10px !important;
  }

  .feedback .checkbox_pos {
    left: 5px !important;
  }

  .yourself__label {
    left: 0px !important;
  }

  .ckeck_pos_label {
    position: relative;
    top: -49px;
    left: 11px;
    width: 280px !important;
  }

  .yourself__submit {
    position: relative;
    top: -66px;
    left: -90px;
  }

  .footer {
    grid-template-columns: 250px !important;
    padding-top: 80px;
    margin-top: 50px !important;
  }

  .footer .article {
    width: 250px !important;
    background: none !important;
  }

  .values__bg {
    width: 300px !important;
  }

  footer img {
    display: none;
  }

  .footer h2 {
    font-size: 20px !important;
  }

  .footer p {
    font-size: 15px !important;
  }

  .footer .phone {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .footer .contact {
    margin-top: 40px !important;
    margin-bottom: 10px;
  }

  .footer .cell:nth-child(2) {
    text-align: left !important;
  }

  .footer__text {
    text-align: left !important;
  }
  .footer p {
    width: 250px;
  }

  .marquee_wrapper__inner {
    top: 100px !important;
  }

  .header__menu ul li a {
    font-size: 150% !important;
  }

  .our_center__postion {
    grid-template-columns: 297px !important;
  }

  .our_center p {
    display: none;
  }

  .our_center__none {
    display: none;
  }

  .our_center h1 {
    font-size: 27px !important;
    position: absolute;
    top: -331px;
    left: 22px;
  }

  .our_center button {
    width: 280px !important;
    height: 45px !important;
    top: 273px !important;
  }

  .analysis {
    margin-top: 200px !important;
  }

  .modal_feedback__center {
    grid-template-columns: 290px !important;
  }

  .show_connect {
    width: 271px !important;
  }

  .modal_feedback .modal_input {
    margin-bottom: 5px;
  }

  .modal_feedback h2 {
    font-size: 18px !important;
    margin-bottom: 20px !important;
  }

  .modal_feedback__cell {
    padding-top: 30px !important;
    height: 475px !important;
  }

  .modal_feedback_label {
    font-size: 15px !important;
  }

  .modal_feedback .radio {
    top: -4px !important;
  }

  .modal_feedback_label::after {
    left: -20px !important;
    top: 61px !important;
  }

  .modal_feedback_label::before {
    top: 60px !important;
    width: 15px !important;
    height: 15px  !important;
    left: -7% !important;
  }

  .modal_feedback__checkbox {
    margin-top: 0px;
    top: 9px !important;
    left: 45px !important;
  }

  .modal_feedback .connection {
    position: relative;
    top: -10px;
  }

  .modal_feedback input[type="submit"] {
    width: 271px !important;
    top: -10px;
    position: relative;
  }

  .modal_feedback .connection {
    z-index: 10 !important;
  }

  .modal_feedback .menu {
    width: 271px !important;
    top: 344px !important;
  }

  .modal_feedback .none {
    display: none;
  }

  .modal_more_cell {
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 270px !important;
  }

  .modal_more__center {
    grid-template-columns: 300px !important;
  }

  .modal_more h2 {
    font-size: 18px !important;
    margin-top: 10px;
  }

  .modal_more p {
    font-size: 15px !important;
  }

  .modal_more button {
    width: 271px !important;
    height: 45px !important;
    left: 14px !important;
  }

  .specialists {
    top: 325px !important;
    grid-template-columns: 293px !important;
    height: 420px !important;
  }
}

@media screen and (max-width: 430px) {
  .header {
    background-image: url("../images/centr/mobile_header.svg") !important;
    background-repeat: no-repeat;
    height: 368px !important;
  }
}

@media screen and (max-width: 440px) {
  .bg_header {
    justify-content: start !important;
    background: none !important;
  }

  .header__logo {
    display: none;
  }
}

@media screen and (max-width: 935px) {
  .professionals__postion {
    display: grid;
    justify-content: center;
    position: relative;
    top: 517px;
    justify-items: center;
  }

  .professionals p {
    color: #454343 !important;
    text-align: center;
  }

  .services {
    margin-top: 350px !important;
  }

  .professionals {
    left: 0 !important;
    height: 100%;
  }

  .professionals .item3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .professionals .item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .professionals__text2 {
    width: 380px;
  }

  .professionals__button {
    margin-bottom: 20px;
  }

  .services {
    margin-top: 400px !important;
  }

  .professionals {
    width: 100%;
  }

  .professionals h1 {
    font-size: 27px !important;
    text-align: right;
    padding-right: 15px;
  }
}

@media screen and (max-width: 590px) {
  .professionals h1 {
    text-align: right;
    padding-right: 15px;
    font-size: 27px !important;
  }
}



@media screen and (max-width: 935px) {
  .services_img {
    background: url("../images/centr/image1.png") no-repeat !important;
    max-width: 280px !important;
    height: 140px !important;
    background-size: cover !important;
  }

  .services {
    grid-template-columns: 280px !important;
  }

  .services__text {
    font-size: 18px !important;
  }

  .services__subtittle {
    font-size: 15px !important;
  }

  .services__item1 {
    grid-template-columns: 204px 50px !important;
  }

  .services__item2 {
    grid-template-columns: 50px 204px !important;
  }

  .professionals__poragraf {
    font-size: 18px !important;
  }

  .professionals__text2 {
    font-size: 15px !important;
    width: 240px;
  }

  .professionals__button {
    width: 280px !important;
    height: 45px !important;
    line-height: 44px !important;
  }

  .services {
    margin-top: 310px !important;
  }

  .services__text3 {
    font-size: 15px !important;
  }

  .services__item3 {
    grid-template-columns: 204px 50px !important;
  }

  .services__item4 {
    grid-template-columns: 50px 204px !important;
  }

  .services .cell {
    height: 145px !important;
  }
}

@media screen and (max-width: 1150px) {
  .our_center__postion {
    grid-gap: 0px 50px !important;
  }

  .analysis img {
    display: none;
  }

  .analysis__article {
    grid-template-columns: 330px !important;
    grid-gap: 10px 0px !important;
  }

  .analysis__article h2 {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
  }

  .analysis__article h2 {
    font-size: 30px !important;
    width: 202px !important;
    margin-bottom: 30px !important;
  }

  .analysis__cell {
    border: 3px solid #64abc3;
    border-radius: 16px;
    width: 297px;
    height: 315px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
  }

  .analysis__article p {
    margin-bottom: 10px !important;
  }

  .analysis__text_none {
    display: none;
  }

  .analysis .width {
    display: none;
  }

  .analysis {
    padding-bottom: 335px;
  }

  .practice {
    grid-template-columns: 299px !important;
    margin-top: 20px;
    grid-gap: 10px 0px !important;
  }

  .practice h2 {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
  }

  .practice h2 {
    font-size: 30px !important;
    text-align: center;
  }

  .practice img {
    display: none;
  }

  .practice__cell {
    background: none !important;
    border: none !important;
  }

  .practice p {
    color: #e8e6d9 !important;
    font-size: 18px !important;
  }

  .practice__item3 p,
  .practice__item5 p {
    margin-top: 0px !important;
  }

  .practice__item5 {
    left: 0px !important;
  }

  .practice__item4 {
    height: auto !important;
    width: auto !important;
  }

  .practice__item1,
  .practice__item4 {
    background-color: #879b6a !important;
    border-radius: 16px;
    width: 300px !important;
    height: 100px !important;
  }

  .practice__item3 {
    border: 1px solid #66a9c3 !important;
    border-radius: 16px;
    width: 300px;
    height: 100px;
  }

  .practice__item3 p {
    color: #454343 !important;
    margin-top: 20px !important;
  }

  .practice__item5 {
    background-color: #adba5e !important;
    width: 300px !important;
    height: 100px !important;
  }

   .practice__item5 p {
    margin-top: 20px !important;
   }

  .practice__item2 {
    display: none;
  }

  .session {
    grid-template-columns: 297px !important;
  }

  .session h2 {
    font-size: 30px !important;
    text-align: center;
    margin-bottom: 30px !important;
  }

  .session__none {
    display: none;
  }

  .session__image {
    display: block !important;
  }

  .session button {
    top: -10px !important;
    width: 297px !important;
    height: 45px !important;
  }

  .session p {
    font-size: 18px !important;
    margin-top: 10px;
  }

  .session_br_none {
    display: none;
  }

  .questions {
    grid-template-columns: 300px !important;
  }

  .questions button {
    width: 292px !important;
    font-size: 18px !important;
    
  }

  .questions h2 {
    display: none;
  }

  .questions_br1 {
    display: none;
  }

  .questions_br {
    display: block !important;
  }
 
}

@media screen and (max-width: 431px) {
  .our_center h1 {
    top: -40px;
    left: 13px;
  }

}

@media screen and (max-width: 440px) {
   .professionals__postion {
    top: 120px !important;
  }
}

