@media screen and (max-width: 935px) {
    .swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next {
        margin-top: 250px !important;
        margin-left: 15px;
       
    }

    .swiper-button-prev {
        left: 80px !important;
    }

    .center_content {
        margin-top: 185px;
    }
}