:root {
  box-sizing: border-box;
  --color-text: #000;
  --title-color: #f7f6ef;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7ef;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header {
  background-image: url("../images/image_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 711px;
}

.bg_header {
  background-color: #adba5e;
  border-radius: 0px 0px 30px 30px;
  height: 80px;
  display: grid;
  grid-template-columns: 300px 704px;
  justify-content: center;
  grid-gap: 0px 100px;
  justify-items: center;
  align-items: center;
}

.header__menu ul li {
  float: left;
  margin-left: 25px;
}

.header__menu ul li a {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -1%;
  font-family: "Nexa Bold";
  color: #f7f6ef;
}

.header_img {
  display: none;
}

.header__logo p {
  font-family: "Cygre Book";
  font-weight: 350;
  font-size: 16.31px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  color: #f7f6ef;
  margin-top: 5px;
}

.header__logo ul li {
  float: left;
}

.header__logo ul li:nth-child(2) {
  margin-left: 10px;
}

.main {
  max-width: 1100px;
  margin: auto;
}

.professionals h1 {
  font-size: 55px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  font-family: "Nexa Extra Bold";
  color: var(--title-color);
  margin-bottom: 10px;
  margin-top: 20px;
}

.professionals {
  position: absolute;
  top: 100px;
  left: 240px;
}

.professionals p {
  font-size: 25px;
  line-height: 130%;
  letter-spacing: -1%;
  font-family: "Nunito Light";
  margin-bottom: 80px;
  color: #e8e6d9;
}

.professionals__poragraf {
  color: var(--title-color) !important;
  margin-bottom: 40px !important;
}

.professionals span {
  font-family: "Nunito Bold";
}

.professionals__button {
  outline: none;
  width: 298px;
  height: 66px;
  background-color: #64abc3;
  opacity: 1;
  border-radius: 32px;
  font-family: "Nexa Bold";
  font-size: 18px;
  color: #fffef6;
  border: none;
  cursor: pointer;
  line-height: 66px;
}

.services {
  display: grid;
  grid-template-columns: 461px 461px;
  grid-gap: 30px 30px;
  justify-content: center;
}

.services__item1 {
  display: grid;
  grid-template-columns: 365px 50px;
  justify-content: center;
}

.services__item2 {
  display: grid;
  grid-template-columns: 50px 365px;
  justify-content: center;
  justify-items: end;
  text-align: right;
}

.services__item3 {
  display: grid;
  grid-template-columns: 365px 50px;
  justify-content: center;
}

.services__item4 {
  display: grid;
  grid-template-columns: 50px 365px;
  justify-content: center;
  justify-items: end;
  text-align: right;
}

.services__text3 {
  margin-top: 15px;
  color: #454343;
  font-family: "Nexa Regular";
  font-size: 25px;
}

.services .cell {
  height: 266px;
}

.services__text {
  font-family: "Nexa Extra Bold";
  color: #e8e6d9;
  font-size: 25px;
  line-height: 110.00000000000001%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.services__subtittle {
  font-family: "Nexa Regular";
  font-size: 15px;
  line-height: 110.00000000000001%;
  color: #e8e6d9;
}

.services_bg {
  background-color: #879b6a;
  border-radius: 32px;
}

.services_img {
  background: url("../images/image1.png") no-repeat;
}

.services_border {
  border-width: 3px, 3px, 3px, 3px;

  border-style: solid;

  border-color: #66a9c3;
  border-radius: 32px;
}

.services {
  margin-top: 100px;
}

.services__number {
  border-radius: 50px;
  border: 1px solid #e8e6d9;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 15px;
}

.services__number p {
  line-height: 50px;
  font-family: "Nexa Regular";
  font-size: 38px;
}

.services .col1 {
  color: #e8e6d9;
}

.services .col2 {
  color: #f7f6ef;
}

.services .col3 {
  color: #66a9c3;
}

.services__item {
  margin-top: 5px;
}

.work p {
  font-family: "Nexa Light";
  font-size: 17px;
  line-height: 110.00000000000001%;
  margin-left: 20px;
  margin-top: 20px;
}

.work {
  display: grid;
  grid-template-columns: 260px 260px 375px;
  justify-content: center;
  grid-gap: 30px;
  margin-top: 100px;
}

.work h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: "Nexa Extra Bold";
  font-size: 55px;
  line-height: 110.00000000000001%;
  text-align: center;
  color: #454343;
  margin-bottom: 40px;
}

.work__cell_item1 {
  border: 3px solid #879b6a;
  border-radius: 32px;
  height: 341px;
}

.work__cell_item1 p {
  color: #454343;
}

.work__green {
  position: relative;
  top: 215px;
  left: 120px;
}

.work__cell {
  height: 340px;
}

.work__cell_item2 {
  background: url("../images/image2.png") no-repeat;
}

.work__cell_item2 p {
  margin-top: 265px;
  color: #f7f6ef;
}

.work__cell_item5 {
  width: 375px;
}

.work__cell_item3 {
  background-color: #879b6a;
  border-radius: 32px;
}

.work__cell_item3 p {
  color: #f7f6ef;
}

.work__white {
  position: relative;
  top: 245px;
  left: 89%;
}

.work__cell_item4 {
  background-color: #66a9c3;
  border-radius: 32px;
}

.work__cell_item4 p {
  color: #f7f6ef;
  margin-top: 264px;
}

.work .ellipse {
  position: relative;
  top: 30px;
  left: 124px;
}

.work__cell_item5 {
  border: 3px solid #66a9c3;
  border-radius: 32px;
}

.work__cell_item5 p {
  color: #454343;
  margin-top: 240px;
}

.work__cell_item6 {
  width: 260px;
  background: url("../images/image3.png") no-repeat;
  position: relative;
  top: 0;
  left: 115px;
}

.work__cell_item6 p {
  color: #f7f6ef;
}

.work__blue {
  position: relative;
  top: 15px;
  left: 90%;
}

.feedback {
  display: grid;
  grid-template-columns: 955px;
  justify-content: center;
  margin-top: 100px;
}

.feedback .cell {
  background-color: #adba5e;
  border-radius: 32px;
  height: 444px;
  padding-top: 30px;
}

.feedback .center {
  display: grid;
  justify-content: center;
  padding-left: 42px;
  position: relative;
}

.feedback .center .cell {
  background: none;
}

.feedback input {
  background-color: #fff;
  border-radius: 16px;
  font-family: "Nexa Light";
  font-size: 18px;
  padding-left: 16px;
  border: none;
  float: left;
  margin-left: 10px;
  height: 50px;
}

.feedback input:focus {
  border: 0px solid white;
  outline: none;
}

.feedback input[type="checkbox"] {
  float: none;
}

a:focus {
  border: none;
  outline: none;
}
.feedback__user {
  display: block;
  margin-top: 20px;
  width: 855px;
}

.feedback h2 {
  color: #454343;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 110.00000000000001%;
  vertical-align: middle;
  font-family: "Nexa Extra Bold";
}

.feedback p {
  color: #454343;
  font-size: 23px;
  font-family: "Nunito Light";
  line-height: 110.00000000000001%;
}

.feedback h2,
.feedback p {
  margin-left: 10px;
}

.feedback .m_top {
  margin-top: 10px;
}

.feedback label {
  font-family: "Nexa Light";
  font-size: 10px;
  position: relative;
  top: -20px;
}

.feedback .name,
.feedback .phone,
.feedback .mail {
  width: 271px;
}

.feedback .spec,
.feedback .connection {
  width: 414px;
  cursor: pointer;
}

.feedback .spec {
  background-color: #fff;
  border-radius: 16px;
  font-family: "Nexa Light";
  font-size: 18px;
  padding-left: 16px;
  border: none;
  float: left;
  margin-left: 10px;
  height: 50px;
}

.feedback .connection {
  background-color: #fff;
  border-radius: 16px;
  font-family: "Nexa Light";
  font-size: 18px;
  padding-left: 16px;
  border: none;
  float: left;
  margin-left: 10px;
  height: 50px;
}

.feedback .spec label {
  font-family: "Nexa Light";
  font-size: 18px;
  color: #22222359;
  line-height: 90px;
  cursor: pointer;
}

.feedback .connection label {
  font-family: "Nexa Light";
  font-size: 18px;
  color: #22222359;
  line-height: 90px;
  cursor: pointer;
}

.feedback input[type="submit"] {
  background-color: #64abc3;
  width: 298px;
  height: 50px;
  font-family: "Nexa Bold";
  font-size: 18px;
  color: #fffef6;
  margin: auto;
  cursor: pointer;
  position: relative;
  left: 280px;
  margin-top: 50px;
}

.feedback .active {
  background: url("../images/Polygon.png") no-repeat;
  height: 11px;
  width: 30px;
}

.feedback .pos1 {
  position: relative;
  top: -70px;
  left: 93%;
}

.feedback .pos2 {
  position: relative;
  top: -69px;
  left: 93%;
}

.feedback .menu,
.feedback .menu2 {
  position: absolute;
  background-color: #fff;
  width: 414px;
  border-radius: 16px 16px 20px 20px;
  top: 265px;
  left: 51px;
  z-index: 20;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}

.feedback .menu input[type="checkbox"],
.feedback .menu2 input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.feedback .menu label,
.feedback .menu2 {
  font-family: "Nunito Light";
  font-size: 18px;
  color: #454343;
  cursor: pointer;
}

.feedback .menu2 {
  position: absolute;
  top: 265px;
  left: 475px;
}

.feedback .menu2 label,
.feedback .menu label {
  font-size: 18px;
  position: relative;
  top: -4px;
}

.list_show {
  visibility: visible !important;
  opacity: 1 !important;
}

.list2_show {
  visibility: visible !important;
  opacity: 1 !important;
}

.list_hoidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.feedback .checkbox_style {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  background: none;
}

.feedback .checkbox_pos {
  position: relative;
  top: 15px;
  height: 0;
  left: 13px;
}

.feedback .checkbox_pos label {
  padding-left: 20px;
  position: relative;
  top: -5px;
}

.feedback .checkbox_pos label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 1px;
}

.feedback .checkbox_pos label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("../images/checkbox.png") no-repeat;
  background-size: 10px 10px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.feedback .checkbox_pos a {
  text-decoration: underline;
  color: #222223;
}

.checkbox_style {
  cursor: pointer;
}

.checkbox_pos label {
  cursor: pointer;
}

.checkbox_style:checked + .checkbox_pos_text::before {
  border: none;
}

.checkbox_style:checked + .checkbox_pos_text::after {
  opacity: 1;
}

.psychoanalysis {
  display: grid;
  justify-content: center;
  margin-top: 70px;
}

.psychoanalysis h2 {
  font-size: 35px;
  line-height: 110.00000000000001%;
  font-family: "Nexa Extra Bold";
  margin-bottom: 20px;
  color: #454343;
}

.psychoanalysis p {
  font-size: 25px;
  line-height: 110.00000000000001%;
  font-family: "Nunito Light";
  margin-bottom: 20px;
}

.formats {
  margin-top: 50px;
}

.formats__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 519px 4px 519px;
  grid-gap: 0px 20px;
}
.formats h2 {
  text-align: center;
  font-size: 55px;
  line-height: 110.00000000000001%;
  font-family: "Nexa Extra Bold";
  margin-bottom: 20px;
  color: #454343;
}

.formats__title {
  font-family: "Nexa Extra Bold" !important;
  font-size: 35px !important;
  line-height: 110.00000000000001% !important;
  color: #454343 !important;
  text-align: center;
  margin-bottom: 25px;
}

.formats__item {
  line-height: 110.00000000000001% !important;
  font-size: 25px !important;
  font-family: "Nexa Extra Bold" !important;
  color: white !important;
  margin-bottom: 20px;
}

.formats_text {
  line-height: 110.00000000000001% !important;
  font-size: 18px !important;
  font-family: "Nexa Regular" !important;
  color: #fff !important;
  margin-top: 15px;
}

.formats p {
  line-height: 110.00000000000001%;
  font-size: 15px;
  font-family: "Nexa Light";
  color: #fff;
}

.formats button {
  background-color: #e8e6d9;
  border-radius: 16px;
  color: #454343;
  font-family: "Nexa Regular";
  font-size: 15px;
  outline: none;
  border: none;
  width: 179px;
  height: 51px;
  cursor: pointer;
}

.formats .cell,
.formats__item2 {
  background-color: #66a9c3;
  border-radius: 32px;
  margin-bottom: 33px;
  height: 242px;
  padding-top: 20px;
  padding-left: 20px;
}

.formats__block {
  display: grid;
  justify-content: start;
  grid-template-columns: 202px 180px;
  grid-gap: 0px 90px;
  margin-top: 40px;
}

.formats__block_position {
  position: relative;
  top: 0px;
}

.formats__block_position1 {
  position: relative;
  top: -15px;
}

.formats .width {
  width: 519px;
  margin-top: 40px;
  position: relative;
  left: -20px;
}

.formats .none {
  background: none;
  position: relative;
  top: 55px;
  left: 195px;
  width: 50px;
  height: 50px;
}

.formats .none1 {
  background: none;
  width: 50px;
  position: relative;
  top: -36px;
  left: 225px;
  height: 50px;
}

.formats__block_position2 {
  position: relative;
  top: 30px;
}

.formats__block_position3 {
  position: relative;
  top: 13px;
}

.formats__block_position4 {
  position: relative;
  top: 30px;
}

.formats__block_position5 {
  position: relative;
  top: 14px;
}

.formats__block_position6 {
  position: relative;
  top: 12px;
}

.formats__block_position7 {
  position: relative;
  top: 47px;
}

.formats__block_position8 {
  position: relative;
  top: 3px;
}

.swiper {
  width: 910px;
  height: 500px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 52px !important;
  height: 52px !important;
  top: 205px !important;
}

.specialists {
  display: grid;
  justify-content: center;
  grid-template-columns: 910px;
}

.specialists h2 {
  line-height: 110.00000000000001%;
  font-family: "Nexa Extra Bold";
  font-size: 55px;
  color: #454343;
  margin-bottom: 10px;
}

.specialists .none {
  border: none !important;
  height: auto !important;
  width: auto !important;
  margin-left: 0px !important;
}

.specialists .cell, .slider .cell{
  border: 3px solid #64abc3;
  border-radius: 32px;
  padding: 20px;
  margin-left: 15px;
  width: 234px;
  height: 403px;
}

.specialists .img {
  width: 240px;
  margin: auto;
  display: block;
}

.specialists__text1 {
  color: #454343;
  font-family: "Nexa Extra Bold";
  font-size: 25px;

  margin-top: 5px;
}

.specialists__text2 {
  font-family: "Nexa Light";
  font-size: 15px;
  color: #454343;
  line-height: 110.00000000000001%;

  margin-bottom: 20px;
}

.specialists__text3 {
  color: #454343;
  line-height: 110.00000000000001%;
  font-family: "Nunito Bold";
  font-size: 15px;
}

.specialists .img_center {
  width: 40px;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 66px;
  left: 132px;
}

.center_content {
  display: grid;
  justify-content: center;
  grid-template-columns: 240px 639px;
  grid-gap: 0px 40px;
  margin-top: 130px;
}

.center_content h2 {
  font-family: "Nexa Extra Bold";
  color: #454343;
  line-height: 110.00000000000001%;
  font-size: 55px;
  margin-bottom: 20px;
}

.center_content_title {
  color: #454343;
  font-size: 25px;
  font-family: "Nexa Extra Bold";
  margin-bottom: 20px;
}

.center_content__subtitle {
  color: #454343;
  line-height: 110.00000000000001%;
  font-family: "Nunito Light";
  font-size: 15px;
  margin-bottom: 20px;
}



.center_content .none {
  position: relative;
  top: -84px;
  left: 0;
}

.bg_footer {
  position: relative;
}

.values {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  margin-top: 180px;
}

.values .cell:nth-child(2) {
  position: relative;
  top: -160px;
}

.values .cell {
  text-align: center;
}

.values__title {
  line-height: 110.00000000000001%;
  font-family: "Nexa Extra Bold";
  font-size: 25px;
  color: #f7f6ef;
  margin-top: 20px;
  margin-bottom: 20px;
}

.values__subtitle {
  line-height: 110.00000000000001%;
  font-family: "Nunito Regular";
  font-size: 15px;
  color: #f7f6ef;
  position: relative;
  z-index: 100;
}

.values h2 {
  line-height: 110.00000000000001%;
  font-size: 55px;
  font-family: "Nexa Extra Bold";
  color: #f7f6ef;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  top: -120px;
}

.bg_footer {
  background-color: #adba5e;
  width: 100%;
  height: 180%;
  position: absolute;
  left: 0;
  border-radius: 50% 50% 0 0;
}

.values__bg {
  background: url("../images/bg_footerpng.png") no-repeat;
  height: 935px;
  position: absolute;
  width: 934px;
  left: -308px;
  top: -111px;
}

.yourself h2 {
  font-size: 35px;
  font-family: "Nexa Extra Bold";
  color: #454343;
  margin-top: 45px;
  margin-bottom: 0px;
}

.yourself p {
  line-height: 110.00000000000001%;
  font-size: 23px;
  font-family: "Nunito Light";
  color: #454343;
}

.yourself {
  display: grid;
  justify-content: center;
  grid-template-columns: 955px;
}

.yourself .cell {
  background-color: #e8e6d9;
  border-radius: 32px;
  height: 362px;
}

.yourself input {
  background-color: #fff;
  width: 273px;
  height: 50px;
  font-family: "Nexa Light";
  font-size: 18px;
  padding-left: 20px;
  color: #22222359;
  border: none;
  outline: none;
  border-radius: 16px;
  float: left;
  margin-left: 10px;
  position: relative;
  z-index: 100;
  margin-bottom: 10px;
}

.yourself input[type="submit"] {
  background-color: #64abc3;
  border-radius: 16px;
  color: #fffef6;
  font-size: 18px;
  font-family: "Nexa Bold";
  cursor: pointer;
  margin: auto;
  width: 298px;
  display: block;
  height: 50px;
  position: relative;
  left: 30%;
  top: 20px;
}

.yourself input[type="checkbox"] {
  width: 10px;
  height: 10px;
  z-index: 100;
  position: relative;
  top: -5px;
  left: -11px;
}

.yourself a {
  color: #222223;
  text-decoration: underline;
}

.yourself label {
  font-family: "Nexa Light";
  font-size: 10px;
  color: #222223;
  float: none;
}

.yourself .none {
  margin-left: 0;
}

.center__cell {
  display: grid;
  justify-content: center;
}

#position_form {
  width: 840px;
  display: block;
  margin-top: 20px;
}

.yourself__label {
  position: relative;
  top: -5px;
  left: -30px;
  padding-left: 20px;
  cursor: pointer;
}

.yourself__label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 1px;
}

.yourself__label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("../images/checkbox.png") no-repeat;
  background-size: 10px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 2;
}

.input_checkbox {
  appearance: none;
  position: absolute;
  background: none !important;
}

.input_checkbox:checked + .yourself__label::after {
  opacity: 1 !important;
}

.input_checkbox:checked + .yourself__label::after {
  border: none;
}
.marquee {
  margin-top: 100px;
}

.marquee ul {
  list-style: none;
  background: red;
  color: #f7f6ef;
  font-size: 25px;
}

.marquee li {
  float: left;
  margin-left: 30px;
}

.marquee li p {
  font-size: 25px;
  font-family: "Nexa Extra Bold";
  margin-top: -5px;
}

.footer h2 {
  color: #f7f6ef;
  font-family: "Nexa Extra Bold";
  font-size: 25px;
}

.footer__top {
  margin-top: 20px;
}

.footer p,
.footer .article {
  color: #f7f6ef;
  font-family: "Nunito Regular";
  font-size: 15px;
  line-height: 110.00000000000001%;
}

.footer {
  display: grid;
  justify-content: center;
  grid-template-columns: 407px 520px;
  grid-gap: 0px 150px;
  margin-top: 50px;
}

.footer__item {
  display: grid;
  justify-content: center;
  grid-template-columns: 260px 260px;
  grid-gap: 0px 10px;
  margin-top: 20px;
}

.footer__m {
  margin-bottom: 10px;
}

.footer .phone {
  color: #f7f6ef;
  font-family: "Nunito Regular";
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

.footer__text {
  color: #f7f6ef;
  margin-top: 20px;
  text-align: right;
}

.footer .cell:nth-child(2) {
  text-align: right;
}

.footer .contact {
  margin-top: 60px;
}

.footer .contact svg {
  margin-top: 10px;
  margin-left: 5px;
}

.footer .none {
  margin-left: 0px !important;
}

.footer {
  margin-top: 200px;
}

.marquee_wrapper__inner {
   overflow: hidden; /* Скрывает текст, выходящий за пределы контейнера */
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  width: 100%; /* Адаптивная ширина */
  box-sizing: border-box; /* Учитывает padding и border в общей ширине */
  position: relative; /* Для позиционирования текста внутри */
  padding: 10px 0; /* Отступы сверху и снизу */
 top: 150px;
 z-index: 200;
}

.marquee_wrapper__inner .card {
  display: inline-block;
   animation: marquee 10s linear infinite; /* Применяет анимацию */
  width: 1050px;
  }

.marquee_wrapper__inner .card li {
  float: left;
  margin-left: 25px;
}

.marquee_wrapper__inner .card p {
font-size: 25px;
line-height: 15px;
letter-spacing: -0.01em;
color: #f7f6ef;
  font-family: "Nexa Extra Bold";
}

@keyframes marquee {
  0% { transform: translateX(100%); } /* Начинаем с правой стороны */
  100% { transform: translateX(-100%); } /* Заканчиваем слева */
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.formats__classes {
  background-color: #64abc3;
  color: #fffef6;
  display: block;
  width: 280px;
  height: 45px;
  border-radius: 16px;
  font-family: "Nexa Bold";
  font-size: 15px;
  text-align: center;
  line-height: 45px;
  margin-bottom: 10px;
  display: none;
}

.formats__center {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
}

.swiper-container {
  width: 100%;
}

.footer .article {
  background: url("../images/blog.png") no-repeat center right 0%;
  display: block;
  width: 420px;
}

.our_center h1 {
  font-size: 55px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #f7f6ef;
  font-family: "Nexa Extra Bold";
  margin-bottom: 20px;
}

.our_center p {
  font-size: 25px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #f7f6ef;
  font-family: "Nexa Extra Bold";
  margin-bottom: 20px;
}

.our_center button {
  font-family: "Nexa Bold";
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fffef6;
  border-radius: 32px;
  width: 298px;
  height: 66px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #64abc3;
  position: relative;
  top: -30px;
}

.our_center {
  position: relative;
  top: -250px;
}
.our_center__postion {
  display: grid;
  justify-content: center;
  grid-template-columns: 560px 298px;
  align-items: end;
  grid-gap: 0px 250px;
}

.analysis__article {
  display: grid;
  justify-content: center;
  grid-template-columns: 330px 330px 330px;
  grid-gap: 0px 50px;
  justify-items: center;
}

.analysis__article h2 {
  font-size: 55px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  font-family: "Nexa Extra Bold";
  color: #454343;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 965px;
  margin-bottom: 80px;
}

.analysis__article p {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #454343;
  font-family: "Nunito Regular";
  margin-bottom: 20px;
}

.analysis {
  position: relative;
  top: -150px;
}

.analysis__text {
  font-family: "Nexa Extra Bold" !important;
  font-size: 25px !important;
  line-height: 110% !important;
  letter-spacing: -0.01em;
  color: #454343 !important;
  margin-bottom: 100px !important;
}

.analysis img {
  position: relative;
    top: -443px;
    left: 377px;
    height: 450px;
    width: 1102px;
}

.analysis .width {
  width: 1102px;
  height: 450px;
}

.practice {
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 563px  260px;
  grid-gap: 20px  0px;
  position: relative;
  top: -450px;
}

.practice h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: "Nexa Extra Bold";
  font-size: 55px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  color: #454343;
}

.practice  p {
   font-family: "Nexa Regular";
font-size: 25px;
line-height: 110%;
letter-spacing: -0.01em;
color: #fff;
margin-top: 20px;
}

.practice__item4 p {
  color: #66a9c3;
}

.practice__item1 {
  background-color: #879B6A;
}

.practice__cell {
  border-radius: 32px;
  position: relative;
  padding-left: 20px;
}

.practice__item3 {
  background-color: #66A9C3;
}
.practice__item4 {
  border: 3px solid #66a9c3;
  width: 520px;
height: 280px;
}

.practice__item5 {
  width: 260px;
height: 280px;
background-color: #ADBA5E;
position: relative;
 left: 262px;
}

.practice__item3 p {
  margin-top: 187px;
}

.practice__item6 img{
  max-width: 280px;
  height: 280px;
}

.practice__item6 {
  position: relative;
      left: -36px;
}

.practice__item2 img {
  max-width: 520px;
  height: 280px;
}

.practice__item5 p {
  margin-top: 187px;
}
.swiper1 {
     width: 910px;
    height: 600px;
}

.slider {
  grid-template-columns: 910px;
  justify-content: center;
  display: grid;
}

.slider {
  position: relative;
  top: -350px;
}

.swiper1 .swiper-button-prev{
  left: 15px !important;
}

.slider .img_center {
width: 40px;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 168px;
    left: 132px;

}

.session {
  display: grid;
  justify-content: center;
  grid-template-columns: 490px 540px;
  grid-gap: 0px 50px;
  position: relative;
  top: -350px;
}

.session h2 {
font-size: 55px;
line-height: 110%;
letter-spacing: -0.01em;
color: #454343;
font-family: "Nexa Extra Bold";
margin-bottom: 20px;
}

.session  p {
font-size: 25px;
line-height: 110%;
letter-spacing: -0.01em;
color: #454343;
font-family: "Nunito Extra Bold";
}

.session button {
  border-radius: 32px;
width: 298px;
height: 66px;
background-color: #64ABC3;
font-size: 18px;
border: none;
outline: none;
color: #FFFEF6;
 font-family: "Nexa Bold";
 margin-top: 30px;
 position: relative;
 top: 100px;
 cursor: pointer;
}

.feedback__top_pos {
  position: relative;
  top: -270px;
  margin-top: 0px;
}

.bg_footer_none {
  height: 72% !important;
}

.questions {
  display: grid;
  justify-content: center;
  grid-template-columns: 964px;
  position: relative;
  top: -200px;
}

.questions h2 {
  grid-column-start: 1;
  grid-column-end: 2;
font-size: 55px;
line-height: 110%;
letter-spacing: -0.01em;
text-align: center;
color: #454343;
font-family: "Nexa Extra Bold";
margin-bottom: 20px;
}

.questions p {
  font-family: "Nunito Light";
font-size: 15px;
line-height: 110%;
letter-spacing: -0.01em;
color: #454343;
margin-bottom: 20px;
}

.questions button {
  background: url("../images/centr/arrow_acardion_03.png") no-repeat right;
  border: none;
  outline: none;
  cursor: pointer;
font-size: 25px;
line-height: 110%;
letter-spacing: -0.01em;
text-align: left;
color: #454343;
font-family: "Nexa Extra Bold";
margin-bottom: 25px;
padding-top: 25px;
width: 960px;

}

.questions__content {
  border-bottom: 1px solid #879b6a;
   transition: 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.questions__content_show {
  background: url("../images/centr/arrow_up_acardion_03.png") no-repeat right !important;
}

.session__image {
  display: none;
}

.questions_br {
  display: none;
}

.modal_feedback {
  display: grid;
  grid-template-columns: 960px;
  justify-content: center;
 position: relative;
 z-index: 500;
}

.modal_feedback .modal_input {
  width: 271px;
  height: 50px;
  border-radius: 16px;
padding: 15px;
background-color: #fff;
border: none;
outline: none;
float: left;
margin-left: 10px;
font-family: "Nexa Light";
}


.modal_feedback__cell {
   background-color: #879B6A;
    border-radius: 32px;
   height: 463px;
   padding-top: 60px;
   
}

.modal_feedback__center {
  display: grid;
  justify-content: center;
  grid-template-columns: 854px;
}

.modal_feedback h2{
  font-size: 32px;
line-height: 110%;
color: #454343;
font-family: "Nexa Light";
margin-bottom: 30px;
margin-left: 10px;
}

.modal_feedback p {
font-size: 15px;
line-height: 110%;
letter-spacing: -0.01em;
text-align: center;
color: #222223;
font-family: "Nexa Light";
text-align: center;
}

.modal_feedback .text {
font-size: 23px;
line-height: 110%;
letter-spacing: -0.01em;
color: #222223;
 font-family: "Nexa Light";
}

.modal_feedback .checkbox_text {

font-size: 10px;
line-height: 110%;
letter-spacing: -0.01em;
color: #222223;
font-family: "Nexa Light";
text-align: left;
}

.modal_feedback  a {
  text-decoration: underline;
}

.clear {
  clear: both;
}


.modal_feedback  .connection {
  background-color: #fff;
    border-radius: 16px;
    font-family: "Nexa Light";
    font-size: 18px;
    padding-left: 16px;
    border: none;
    float: left;
    margin-left: 10px;
    height: 50px;
    width: 520px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.modal_feedback  .connection label {
  font-family: "Nexa Light";
    font-size: 18px;
    color: #22222359;
    line-height: 50px;
    cursor: pointer;
}

.modal_feedback input[type="submit"] {
  border-radius: 16px;
width: 298px;
height: 50px;
background-color: #64ABC3;
color: #fffef6;
  font-family: "Nexa Bold";
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.connection__icon {
  background: url("../images/Polygon.png") no-repeat right;
  width: 13px;
  height: 11px;
  float: right;
  position: relative;
  z-index: 50;
 top: 20px;
    left: -13px;
}

.modal_feedback .menu {
      position: absolute;
    background-color: #fff;
     width: 520px;
    border-radius: 16px 16px 20px 20px;
    top: 269px;
    left: 10px;
    z-index: 100;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
}

.modal_feedback .menu input {
  width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal_feedback .menu label {
  font-family: "Nunito Light";
    font-size: 18px;
    color: #454343;
    cursor: pointer;
    position: relative;
    top: -4px;
}

.checkbox_text_item2 {
font-size: 10px;
line-height: 110%;
letter-spacing: -0.01em;
color: #222223;
font-family: "Nexa Light";
}

.modal_feedback .checkbox_text_item2 {
  position: relative;
  top: -5px;
  left: -30px;
  padding-left: 20px;
  cursor: pointer;
}

.modal_feedback .checkbox_text_item2::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  border-radius: 1px;
}

.modal_feedback .checkbox_text_item2::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("../images/checkbox.png") no-repeat;
  background-size: 10px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 100;
}

#checkbox_item {
  appearance: none;
  position: absolute;
  background: none !important;
}

#checkbox_item:checked + .checkbox_text_item2::after {
  opacity: 1 !important;
}

#checkbox_item:checked + .checkbox_text_item2::before {
  border: none;
}

.modal_feedback__checkbox {
  position: relative;
  left: 40px;
  top: 10px;
}

.modal_feedback .radio_input {
   appearance: none;
  position: absolute;
  background: none !important;
  cursor: pointer;
}

.modal_feedback_label {
font-size: 23px;
line-height: 110%;
letter-spacing: -0.01em;
color: #222223;
font-family: "Nexa Light";
cursor: pointer;
margin-top: -10px;
}

.modal_feedback_label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: none;

  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 59%;
  z-index: 50;
  border-radius: 50%;
  z-index: 1;
}

.modal_feedback_label::after {
   content: "";
  display: block;
   width: 14px;
  height: 14px;
  background-color: #fff;
   border-radius: 50%;
   position: absolute;
   left: 507px;
    top: 3px;
    z-index: 2;
    opacity: 0;
}

.modal_feedback .radio {
  position: relative;
  left: 35px;
  top: 22px;
}

.radio_input:checked + .modal_feedback_label::before {
  background: none;
  border: none;
}

.radio_input:checked + .modal_feedback_label::after {
  opacity: 1;
}

.modal_more h2 {
font-size: 28px;
line-height: 110%;
letter-spacing: -0.01em;
color: #454343;
 font-family: "Nexa Extra Bold";
 text-align: center;
 margin-bottom: 20px;
}

.modal_more p{
font-size: 25px;
line-height: 110%;
letter-spacing: -0.01em;
text-align: center;
color: #454343;
font-family: "Nunito Light";
}

.modal_more {
  display: grid;
  grid-template-columns: 800px;
  justify-content: center;
}

.modal_more button {
  width: 298px;
  height: 66px;
  border-radius: 32px;
  background-color: #64ABC3;
  border: none;
  outline: none;
  color: #fff;
   font-family: "Nexa Bold";
   font-size: 18px;
   position: relative;
   left: 137px;
   margin-top: 20px;
   top: -10px;
   cursor: pointer;
}

.modal_more_cell {
  background-color: #f7f7ef;
  border-radius: 32px;
  height: 330px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
 

}

.modal_more__center {
  display: grid;
  grid-template-columns: 584px;
  justify-content: center;
}

.modal {
  position: fixed;
    inset: 0;
    z-index: 200;
      overflow-y: auto;
        background-color: rgb(0, 0, 0, 0.5);
      
}

.modal_main {
  position: relative;
   margin: auto;
}




.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 20px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    text-align: center;
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible {
    outline-color: green
}

.modal_feedback .modal__close {
  font-size: 120%;
  color: #fff;
}
