footer {
    margin-top: -340px;
}

@media screen and (max-width: 1680px) {
    footer {
    margin-top: -340px !important;
}
}

@media screen and (max-width: 960px)  {
        footer {
    margin-top: -320px !important;
}

.recommend_slider {
    height: 650px;
}


}

@media screen and (max-width: 480px)  {
    footer {
    margin-top: -465px !important;
}
}