footer {
    margin-top: -340px;
}

@media screen and (max-width: 1680px) {
    footer {
    margin-top: -340px !important;
}
}

@media screen and (max-width: 960px)  {
        footer {
    margin-top: -320px !important;
}

.recommend_slider {
    height: 650px;
}


}

@media screen and (max-width: 480px)  {
    footer {
    margin-top: -465px !important;
}
}


@media screen and (max-width: 720px) {
    .modal_review {
        width: 608px;
    }

    .modal_review_main {
        width: auto;
        padding: 64px 40px;
    }
}

@media screen and (max-width: 650px) {
    .modal_review {
        width: 430px;
    }

    .modal_review_main {
        padding: 64px 20px;
    }

    .modal_review input[type="submit"] {
        width: 380px;
    }

    .modal_review_title {
        font-size: 28px;
    }

    .modal_review_subtitle {
        font-size: 16px;
    }

    .modal_review_rating_text {
        font-size: 80px;
    }

    .modal_review_grid {
        grid-gap: 0px;
    }

    .modal_review_result {
        margin-top: 0px;
    }
}

@media screen and (max-width: 480px) {
    .modal_review {
        width: 312px;
    }

    .modal_review_title {
        font-size: 24px;
    }

    .modal_review_subtitle {
        font-size: 14px;
    }

    .modal_review input[type="submit"] {
        width: 260px;
    }
}