@media screen and (max-width: 1680px) {

   .event_title_h {
    width: 800px;
    margin: auto;
  }

  .coockie_container h2 {
    font-size: 18px;
  }

  .coockie_container p {
    font-size: 16px;
  }

    .coockie_container {
      width: 800px;
      margin: auto;
      grid-template-columns: 388px 425px;
    }
  .modal_comparison_remove_product_container {
    width: 800px;
    margin: auto;
  }

.modal_log_out_container {
  width: 800px;
  margin: auto;
  grid-template-columns: 369px 439px;
}
 .modal_remove_product_container {
  grid-template-columns: 247px 217px;
  width: 800px;
  margin: auto;
 }

  .modal_besket_container {
    justify-content: center;
    grid-template-columns: 322px 497px;
  }

  .modal_favorites_container {
    justify-content: center;
    grid-template-columns: 221px 572px;
  }

  .comparison {
    width: 800px;
  }

  .comparison h1 {
    font-size: 80px;
  }

 .bg_header {
  left: -540px;
 }
  

 .top_grade_rew {
  margin-top: 10px;
 }

  .width_menu {
    width: 800px;
  }

  .description h3 {
    font-size: 80px;
  }


  .description__user_reviews .star {
    width: 800px;
  }

    .description .products {
      margin-top: 90px;
    }

    .description__tabs {
      margin-top: 20px;
    }

   .description .products .recommend_slider_title {
    font-size: 80px !important;
   }

  .description__item {
    grid-template-columns: 800px;
  }

  .mySwiperMain .description__cart img {
    max-width: 800px;
  }

  .mySwiperMain, .mySwiperThumbs {
    width: 800px;
  }

  .description__item .swiperNext {
    left: 87.5%;
  }
  
  .description__quantity {
    justify-content: space-between
  }

  .description__addcart {
    grid-template-columns: 671px 59px 59px;
  }

  .description__addcart button {
    width: 659px;
  }

  .description__tabs {
    grid-template-columns: 800px;
  }

  .description__tabs button {
    width: 248px;
  }

  .characteristics {
    width: 800px;
  }

  .instructions_btn, .description__delivery {
    width: 795px;
  }

  .characteristics {
    grid-gap: 0px 233px;
  }

  .description_content_about {
    width: 800px;
  }
  
  .description_content_about .video img {
    width: 481px;
    height: 269px;
}

.description_content_about .video {
  grid-template-columns: 481px 320px;
}

.video h2 {
  font-size: 53px;
}

.video .cell:last-child {
  top: 41px;
}

.description__user_reviews > .cell:last-child {
    grid-row: 1;
    grid-column: 1;
}

.description__user_reviews {
  grid-template-columns: 800px;
  margin-top: -34px;
}

.description__user_reviews .delete_reviews.none {
  display: none;
}

.description__user_reviews .delete_reviews.mobile {
  display: block;
  position: relative;
  left: 80%;
}

.description .recommend_slider {
  width: 821px;
} 

.description__tabs {
  position: relative;
  z-index: 300;
}

.user_width {
  width: 800px;
}

.description__user_reviews .user {
  width: 800px;
}

.description__user_reviews .grid {
  width: 800px;
}



.top_grade_rew {
position: relative;
}

  footer {
    margin-top: -435px;
  }

  .navigation {
    grid-template-columns: 850px;
  }

  .filtr_title {
    font-size: 80px;
  }

  .filtr {
    margin-top: 20px;
  }
.width_filtr {
  width: 831px;
}

 

  .header .topmenu ul {
    margin-top: 60px;
  }

  .header .topmenu {
    padding: 35px 0 0 0px !important;
  }

  .menu_icon {
    z-index: 499;
    display: block;
    position: fixed;
    width: 30px;
    height: 18px;
    cursor: pointer;
    left: 10px;
    margin-top: 20px;
    margin-right: 20px;
    top: 22px;
  }

  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu_icon::before,
  .menu_icon::after {
    content: "";
  }

  .menu_icon::before {
    top: 0;
  }

  .menu_icon::after {
    bottom: 0;
  }

  .menu_icon span,
  .menu_icon::before,
  .menu_icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .header .topmenu {
    float: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 70px 0 0 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 600;
    opacity: 0;
    overflow: hidden;
  }

  /* .header .topmenu::before {
            content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100px;
        z-index: 500;
       
   } */

  .header .topmenu li {
    float: none;
    margin-bottom: 30px;
  }

  .header .topmenu {
    margin-top: 0px;
  }

  .header .topmenu._active {
    left: 0;
    opacity: 1;
    overflow: visible;
  }

  .menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu_icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu_icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header .logo {
    left: 50px;
  }

  .slider_header .swiper-pagination-bullet {
    width: 248px !important;
  }

  .products_slider {
    width: 832px !important;
    height: 931px;
  }

  .products .swiper-slide {
    width: 270px !important;
  }

  .products_cart {
    width: 270px;
  }

  .products {
    grid-template-columns: 832px;
  }

  .products__header {
    grid-gap: 0px 115px;
  }

  .products__header img {
    left: -37px !important;
  }

  .products__tiitle {
    font-size: 80px !important;
  }

  .products .swiper-navigation {
    top: 92px;
    right: -15px;
  }

  .watch_slider {
    width: 832px !important;
    height: 931px;
  }

  .categories h2 {
    font-size: 80px;
  }

  .categories {
    grid-template-columns: 148px 148px 148px 148px 148px;
  }

  .event img {
    max-width: 400px;
  }

  .event_slider {
    width: 100% !important;
  }
  


  

  .event__content {
    grid-template-columns: 281px 514px;
  }

  .event h3 {
    font-size: 60px;
  }
  .event h2 {
    font-size: 80px;
    margin-left: 20px;
  }

  .event_pos {
    width: 539px;
  }

  .event_pos {
    left: -35px;
    top: 41px;
  }

  .blog {
    grid-template-columns: 495px 291px;
  }
  .blog__item {
    width: 437px;
  }

  .products__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 262px;
  }

  .about {
    width: 911px;
  }

  .about__header {
    grid-template-columns: 945px;
  }

  .about h2 {
    font-size: 120px;
    width: 925px;
    text-align: center;
    left: -5px;
    right: 50%;
  }

  .blog h2 {
    font-size: 80px;
  }

  .about__header svg {
    left: 2.5%;
  }

  .about__bg {
    top: -99px;
    left: 0%;
  }

  .about .tarasimage {
    max-width: 1638px;
    left: 5px;
  }

  .about__blog {
    right: -16px;
    top: 150px;
  }

  .about_content {
    grid-template-columns: 820px;
  }

  .about_content p {
    width: 825px;
  }

  .about_content .right {
    width: 400px;
    left: 53%;
  }

  .networks__header {
    grid-template-columns: 845px;
  }

  .networks__header a {
    float: left;
    margin-top: 30px;
  }

  .networks__link {
    grid-template-columns: 257px 257px 257px;
  }

  .networks__link .cell {
    height: 258px;
  }

  .networks__link a {
    background: url("../images/network_link.png") no-repeat right bottom
      55%;

    left: 17%;
  }

  .networks__link {
    top: 60px;
  }

  .networks__link .cell:first-child > a {
    left: 24%;
  }

  .footer_top_logo {
    grid-template-columns: 162px 420px 195px;
    justify-items: end;
    grid-gap: 0px 20px;
  }

  .footer_center {
    grid-template-columns: 355px 195px;
    grid-gap: 50px 0px;
    width: 824px;
    margin: auto;
    justify-content: start;
  }

  .footer_center .cell:nth-child(3) {
    position: relative;
    left: -177px;
  }

  .footer__up {
    position: relative;
    left: -109px;
  }

  .footer_bottom {
    margin-top: 130px;
    padding-bottom: 0px;
    width: 824px !important;
  }

  .bg_item_networks {
    height: 88px;
  }

  .footer {
    padding-top: 0px;
  }

  .footer .phone {
    margin-top: 0px;
  }

  .footer_center .cell:last-child {
    top: auto;
    grid-column: 1;
    grid-row: 1;
  }

  .footer .mail {
    float: left;
  }

  .footer input[type="email"] {
    width: 268px !important;
  }

  .header_container {
    width: 845px;
  }

  .about_shadow {
    left: -2%;
  }
}

@media screen and (max-width: 1350px) {
  .slider_header {
    height: 655px;
  }
}

@media screen and (max-width: 1080px) {
  .slider_header {
    height: 480px;
  }
}

@media screen and (max-width: 750px) {
  .slider_header {
    height: 350px;
  }
}

@media screen and (max-width: 520px) {
  .slider_header {
    height: 220px;
  }
}

@media screen and (max-width: 960px) {

    .event_title_h {
    width: 608px;
    margin: auto;
  } 

   .coockie_container {
      width: 600px;
      margin: auto;
      grid-template-columns: 431px;
      grid-gap: 20px 0px;
    }

    .coockie_main {
      padding: 10px 0px;
    }

   .modal_comparison_remove_product_container {
    width: 608px;
    margin: auto;
    grid-template-columns: 300px;
    grid-gap: 20px 0px;
  }

  .modal_log_out_container {
  width: 606px;
  margin: auto;
  grid-template-columns: 369px;
  grid-gap: 20px 0px;
}



.modal_log_out_main {
  padding: 10px 0px;
}

  .modal_besket_container {
    grid-template-columns: 322px 314px;
    grid-gap: 20px 0px;
  }

  .modal_besket_add {
    width: 215px !important;
    background-position: 190px !important;
  }

  .modal_besket_add:hover {
    background-position: 190px !important;
  }

  .modal_besket_container > .cell:last-child {
    grid-column: 1;
    grid-row: 2;
  }

  .coockie_item_right .cookies_accepted, .modal_favorites_cookies_accepted, .modal_besket_add {
    font-size: 16px;
  }

  .modal_favorites_cookies_accepted {
    background-position: 240px !important;
      width: 264px !important;
  }

  .modal_favorites_main {
    padding: 15px 10px;
  }

  .modal_favorites_cookies_accepted:hover {
    background-position: 240px !important;
  }

  .coockie_item_right .reject, .modal_favorites_reject, .modal_besket_remove {
    font-size: 16px;
  }

   .modal_favorites_container {
    justify-content: center;
    grid-template-columns: 278px 350px;
    grid-gap: 10px 0px;
  }

  .modal_favorites_container .cell:first-child {
    grid-column: 1;
    grid-row: 1;
  }

    .modal_favorites_container .cell:last-child {
      grid-column: 1;
    grid-row: 2;
    }

    .modal_favorites_right .cell:first-child {
       grid-column: 1;
    grid-row: 2;
    }

    .modal_favorites_right .cell:last-child {
       grid-column: 2;
    grid-row: 2;
    }

    .modal_favorites_right {
      grid-template-columns: 227px 296px;
    }

  .width_menu {
    width: 606px;
  }

  .menu {
    grid-template-columns: 606px;
  }

  .description .swiper-navigation {
    top: -140px;
  }

  .description__item .swiperNext {
    left: 83.5% !important;
  }

  .description__user_reviews .star button {
    font-size: 16px;
    padding: 17px 16px;
  }

  .description__user_reviews .star .cell:nth-child(2) > button {
    padding: 17px 22px;
  }



  .description__user_reviews .star {
    grid-template-columns: 63px 105px 105px 105px 105px 105px;
  }

  .user_width, .description__user_reviews .star, .description__user_reviews .user {
    width: 606px;
  }

  .description__user_reviews .grid {
    width: 606px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;

  }

  .description__user_reviews select {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .description__user_reviews select, .description__user_reviews .grid p {
    font-size: 16px;
  }

  .grade__content .cell:nth-child(4) > p {
    font-size: 16px;
  }

  .description__user_reviews {
    grid-template-columns: 606px;
  }

  .description__user_reviews .title {
    font-size: 60px;
  }

  .description__user_reviews sub {
    font-size: 36px;
  }

  .description_content_about .video {
    grid-template-columns: 402px 204px !important;
  }

  .video .cell:last-child {
           top: 22px;
        left: -92px;
        width: 286px;
  }

  .video_title p {
    font-size: 14px;
  }

  .video h2 {
    font-size: 48px !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .description_content_about .video {
    grid-template-columns: 481px 320px;
  }

  .description_content_about .video img {
    width: 402px;
    height: 225px;
  }

  .description_content_about h2 {
    font-size: 18px;
  }

  .description_content_about .width p {
    font-size: 16px;
  }

  .description_content_about .width, .description_content_about {
    width: 606px;
  }

  .characteristics {
    width: 606px;
    grid-gap: 0px 75px;
  }

  .description__gram {
    grid-template-columns: 106px 91px;
  }

  .description__addcart button, .description__stock, .instructions_btn, .description__delivery, .description__tabs button{
    font-size: 16px;
  }

  .characteristics h2 {
    font-size: 18px;
  }

  .characteristics .left li p , .characteristics .right p{
    font-size: 16px;
  }

  .description_price .discount {
    text-decoration: line-through;
  }

  .description__gram .cell:last-child {
    width: 102px !important;
    height: 48px !important;
  }

  .description__gram .cell {
    width: 106px !important;
    height: 52px !important;
  }

  .description__gram p {
    font-size: 14px;
    line-height: 52px;
  }

  .description__text {
    font-size: 14px;
  }

  .description__reviews p {
    font-size: 14px;
  }

  .description__subtitle {
    font-size: 36px;
  }

  .description__title {
    font-size: 14px;
  }

  .description__tabs button {
    width: 183px;
  }

  .description__tabs {
    grid-template-columns: 606px;
  }

  .instructions_btn, .description__delivery {
    width: 606px;
  }

  .description__addcart button {
    width: 465px;
  }

  .description__addcart {
    grid-template-columns: 477px 59px 59px;
  }

  .description__item {
    grid-template-columns: 606px;
  }

  .description__item .swiperNext {
    left: 63.5%;
  }

  .mySwiperMain, .mySwiperThumbs {
    width: 606px;
  }

  .mySwiperMain .description__cart img {
    max-width: 608px;
  }

    .description .swiper-navigation {
      right: -11px !important;
    }
  
  .description .recommend_slider {
    width: 611px;
  }

  .description .products {
    grid-template-columns: 607px;
  }

  .product_besket {
    opacity: 1;
    visibility: visible;
  }

  .product_besket {
    grid-template-columns: 50px 50px;
  }

  .product_besket_cell {
    height: 50px;
  }

  .product_besket svg {
    margin-top: 15px;
  }
  
  .header .cell:nth-child(3) {
    margin-left: 0;
  }
  .header {
    justify-content: space-around;
  }

  .header .right-menu svg {
    width: 24px;
    height: 25px;
  }

  .slider_header__item p {
    font-size: 14px;
  }

  .slider_header__border {
    width: 90px;
  }

  .slider_header__item h1 {
    font-size: 24px;
  }

  .slider_header__item a {
    width: 187px;
    height: 53px;
    line-height: 52px;
    font-size: 16px;
  }

  .products__header img {
    width: 196px;
  }

  .products__header .cell:last-child {
    width: 196px;
  }

  .categories__item {
    height: 300px;
  }

  .products_cart {
    width: 196px;
    height: 520px;
  }

  .products .swiper-slide {
    width: 196px !important;
  }

  .products_cart .products_hit {
    height: 261px;
  }

  .products__header {
    height: 360px;
  }

  .products_slider {
    width: 607px !important;
    height: 744px;
  }

  .products__header .hit {
    width: 39px;
    height: 54px;
  }

  .products__header p {
    font-size: 14px;
  }

  .products__header {
    grid-template-columns: 8px 60px;
  }

  .products__header img {
    left: -6px !important;
  }

  .products__header .hit p {
    line-height: 73px;
  }
  .products .swiper-navigation {
    right: 118px;
  }

  .products__gram .cell {
    padding: 0;
  }

  .products__gram .cell:last-child {
    padding: 0;
  }

  .products__gram {
    grid-gap: 0px 15px;
  }

  .products__reviews {
    grid-template-columns: 25px 130px;
  }

  .products__reviews .cell:last-child {
    width: 150px;
  }

  .products__name {
    width: 200px;
  }

  .products h2 {
    font-size: 18px;
  }
  .products_price {
    grid-template-columns: 93px 57px;
  }

  .products_price .cell:last-child {
    width: 47px;
    height: 33px;
    padding: 0;
    position: relative;
    top: -299px;
    left: 10px;
  }

  .products_price .cell:last-child > p {
    line-height: 33px;
    text-align: center;
    font-size: 14px;
  }

  .products .price {
    font-size: 28px;
  }

  .watch_slider {
    width: 607px !important;
    height: 740px;
  }

  .products__tiitle {
    font-size: 60px !important;
  }

  .products .swiper-navigation {
    top: 70px;
  }

  .categories h2 {
    font-size: 60px;
  }
  .categories {
    grid-template-columns: 196px 196px 196px;
  }

  .categories h2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .event .data p {
    font-size: 14px;
  }

  .event h3 {
    font-size: 48px;
  }

  .event .more {
    width: 164px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    background: url("../images/link.png") no-repeat right 19% bottom 50%;
    background-color: #d29440;
  }

  .event .more:hover {
    background: url("../images/arow_active_btn.png") no-repeat right 19%
      bottom 50%;
    background-color: #fff;
  }

  .event .text {
    font-size: 16px;
  }

  .event img {
    width: 299px;
  }
  .event_pos {
    width: 464px;
    top: 24px;
  }

  .event__content {
    grid-template-columns: 218px 432px;
  }

  .event_slider {
    width: 100%;
    height: 490px;
  }

  

  .blog__text {
    font-size: 16px;
  }

  .blog {
    grid-template-columns: 402px 196px;
  }

  .blog__item {
    width: 348px;
  }

  .about__header svg {
    width: 565px;
    left: 6.5%;
    top: -150px;
  }

  .about__bg {
    width: 565px;
    top: -47px;
    left: 5%;
  }

  .about__blog {
    width: 237px;
    right: 45px;
    top: 115px;
  }

  .about .tarasimage {
    width: 462px;
    left: 0px;
  }

  .about h2 {
    font-size: 95px;
    width: 665px;
    left: -21px;
  }

  .about {
    width: 630px;
  }

  .about__header {
    grid-template-columns: 630px;
  }

  .about_content h2 {
    font-size: 36px;
  }

  .about_content p {
    font-size: 16px;
  }

  .about_content {
    grid-template-columns: 651px;
  }

  .about_content p {
    width: 650px;
  }

  .about_content .right {
    left: 40%;
  }

  .networks__header h2 {
    font-size: 31px;
  }

  .networks__header {
    grid-template-columns: 649px;
  }

  .networks__link {
    grid-template-columns: 196px 196px 196px;
  }

  .networks__link .cell {
    height: 196px;
  }
  .networks__link a {
    font-size: 12px;
  }
  .networks__link {
    top: 45px;
  }

  .networks__link .cell:hover a {
    background: url("/public/images/Arrow_white.png") no-repeat right -2% bottom
      45%;
  }

  .footer p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .footer input[type="email"] {
    width: 227px;
  }

  .footer .mail {
    width: 179px;
    height: 52px;
    line-height: 52px;
  }

  .footer_top_logo {
    grid-template-columns: 162px 289px 182px;
    grid-gap: 0px;
  }

  .footer_center {
    width: 640px;
  }

  .footer .phone {
    font-size: 36px;
  }
  .footer nav a {
    font-size: 16px;
  }

  .footer__up {
    width: 254px;
    padding: 0;
    font-size: 16px;
  
  }

  .footer_bottom {
    width: 614px !important;
    grid-template-columns: 416px 193px;
    margin-top: 147px;
    padding-bottom: 10px;
  }

  .footer_bottom a {
    font-size: 12px;
  }
  .footer_cart svg {
    width: 32px;
    height: 32px;
  }

  .header_container {
    width: 600px;
  }

  .bg_header {
    left: -79px;
  }

  .description h3 {
    font-size: 60px;
  }


  .slider_header .swiper-pagination-bullet {
    width: 200px !important;
  }

   .bg_header {
  left: -430px;
 }

 .modal_remove_product_container {
  grid-template-columns: 254px !important;
 }

 .modal_remove_product_container {
  width: 600px;
  grid-gap: 20px 0px;
 }


}

@media screen and (max-width: 768px) {

     .event_title_h {
    width: 432px;
    margin: auto;
  } 

  .coockie_item_right .cell:last-child {
    grid-column: 1;
    grid-row: 1;
  }

  .coockie_item_right {
    grid-template-columns: 432px;
    grid-gap: 10px 0px;
  }

  .cookies_accepted , .coockie_item_right .reject{
    width: 420px !important;
  }

  .coockie_container {
      width: 432px;
      margin: auto;
      grid-template-columns: 431px;
      grid-gap: 20px 0px;
    }

  .modal_comparison_remove_product_main {
    padding: 10px 0px;
  }

  .modal_comparison_remove_product_container {
    width: 432px;
  }

  .modal_comparison_remove_product a {
    width: 432px;
  }

    .modal_log_out_container {
  width: 432px;
  margin: auto;
  grid-template-columns: 432px;
  grid-gap: 20px 0px;
}

.modal_log_out_right .cell:last-child {
  grid-column: 1;
  grid-row: 1;
}

.modal_log_out_right {
  grid-template-columns: 147px;
  left: 0;
}

.modal_log_out_right .yes {
  width: 432px;
  margin-bottom: 20px;
}

.modal_log_out p, .modal_log_out_right .yes, .modal_log_out_right .no {
  font-size: 16px;
}

.modal_log_out_right .no {
  width: 432px;
}


  .modal_remove_product_main {
    padding: 10px 0px;
  }

  .modal_remove_product_container {
  width: 432px;
  grid-gap: 20px 0px;
  grid-template-columns: 432px !important;
 }

 .modal_remove_product a {
  width: 432px;
 }

  .modal_besket_right a {
   width: 299px !important;
        padding-left: 114px;
      background-position: 290px !important;
  }

  .modal_besket_right a:hover {
     background-position: 290px !important;
  }

  .modal_besket_right .cell:last-child {
     grid-column: 1;
     grid-row: 1; 
  }

  .modal_besket_right {
    grid-template-columns: 412px;
    justify-items: center;
    grid-gap: 10px 0px;
  }

  .modal_besket_container {
    grid-template-columns: 414px 0px !important;
  }

  .modal_besket_container {
    grid-template-columns: 322px 314px;
    grid-gap: 20px 0px;
  }

    .bg_header {
  left: -360px;
 }

  .slider_header .swiper-pagination-bullet {
    width: 140px !important;
  }

  .slider_header__new {
    margin-left: 50px;
  }

  .slider_header .swiper-navigation {
    left: -50px;
  }

  .menu li a {
    font-size: 12px;
  }

  .stars_slider {
    display: block !important;
  }

    .user_width .none {
      display: none;
    }

  .video .cell:last-child {
    top: -65px;
    left: 0px;
  }

  .description_content_about .video img {
    width: 355px;
    height: 199px;
  }

  .description_content_about .video {
    grid-template-columns: 355px !important;
    justify-content: normal;
  }

  .video a {
    font-size: 16px;
    background-position: 120px 23px;
  }

  .video_title {
    width: 137px;
    height: 33px;
  }

  .video_title p {
    line-height: 33px;
  }

  .stars_slider  .swiper-slide {
    width: 432px !important;
    margin-right: 189px !important;
  }

  .stars_slider  {
    width: 432px;
    height: 59px;
  }

  .width_menu {
    width: 432px;
  }
  
  .instructions_btn, .description__delivery {
    width: 432px;
  }

  .menu {
    grid-template-columns: 432px;
  }

    .description .products .swiper-navigation  {
      top: 60px;
    }

  .description_content_about .width, .description_content_about {
    width: 432px;
  }

  .description__user_reviews .title {
    font-size: 48px;
  }

  .description__user_reviews sub {
    font-size: 24px;
  }

  .grade_btn {
    font-size: 16px;
  }

  
  .description__user_reviews .delete_reviews.mobile {
    font-size: 14px;
  }

  .description__user_reviews .delete_reviews.mobile {
    left: 72%;
  }

  .user_width, .description__user_reviews .star, .description__user_reviews .user {
    width: 432px;
  }



  .description__user_reviews .grid {
    width: 432px;
  }

  .description__user_reviews .stars p, .grade__content .cell:first-child > p {
    font-size: 16px;
  }

  .description__user_reviews {
    grid-template-columns: 432px;
  }

  .characteristics_text2 {
    margin-bottom: 80px !important;
  }

  .characteristics .right p {
    text-align: right;
  }

  .characteristics_text1 {
    margin-bottom: 54px !important;
  }

  .characteristics .left_bottom {
    margin-bottom: 271px !important;
  }

  .characteristics {
    grid-template-columns: 184px 173px;
  }

  .description__tabs button {
    width: 119px;
    overflow: hidden;
    white-space: nowrap;
        text-overflow: ellipsis;
  }

  .characteristics {
    width: 432px;
  }

  .description__tabs {
    grid-template-columns: 432px;
  }

  .description__addcart {
    grid-template-columns: 304px 59px 59px;
  }

  .description__addcart button {
    width: 292px;
  }

  .description__quantity .counter {
    font-size: 20px;
  }

  .description__quantity {
    grid-gap: 0px 157px;
  }

  .description_price {
    grid-template-columns: 81px 57px 56px;
  }

  .description_price .percent {
    width: 40px;
    height: 27px;
  }

  .description_price .percent p {
    line-height: 27px;
  }

  .description_price .price {
    font-size: 24px;
  }

  .description .swiper-navigation {
   left: 1px;
        top: -111px;
  }

  .description__item .swiperNext {
    left: 79.5% !important;
  }

   .description__item .swiperPrev {
    left: 4px;
    position: relative;
   }

  .description__subtitle {
    font-size: 24px;
  }

  

  .mySwiperMain .description__cart img {
    max-width: 432px;
    height: 432px;
  }

  .mySwiperMain, .mySwiperThumbs {
    width: 432px;
  }

  .description__item {
    grid-template-columns: 432px;
  }

  .description h3 {
    font-size: 41px;
    margin-bottom: 20px;
  }

  

    .description .recommend_slider {
    width: 396px;
  }

  .description .products {
    grid-template-columns: 396px;
  }

  .mobile_topmenu {
    display: block;
  }

  .mobile_none {
    display: none;
  }

  .mobile_topmenu ul {
    float: left;
  }

  .name_navbar li {
    margin-left: 10px !important;
    margin-bottom: 40px !important;
    margin-top: 5px;
  }

  .name_navbar a {
    font-size: 16px;
    color: #fff;
  }

  .name_navbar a:hover {
    color: #d29440;
  }

  .name_navbar a:hover .header .right-menu svg {
    fill: #d29440;
  }

  .slider_header .swiper-pagination-bullet {
    width: 80px;
  }

  .top_slider_header .swiper-pagination {
    height: 30px;
  }

  .slider_header__border {
    width: 70px;
    height: 30px;
  }

  .slider_header__item p {
    font-size: 12px;
    line-height: 30px;
  }

  .slider_header__item h1 {
    font-size: 20px;
  }

  .slider_header__item a {
    width: 155px;
    font-size: 14px;
    padding-left: 12px;
    background: url("/public/images/mobile_arrow.png") no-repeat right 5% bottom
      51%;
    background-color: #d29440;
    margin-top: 10px;
  }

  .slider_header__item a:hover {
    background: url("/public/images/mobile_arrow_ctive.png") no-repeat right 5%
      bottom 51%;
  }

  .slider_header__border {
    margin-bottom: 10px;
  }

  .slider_header__new {
    bottom: 15px;
  }

  .slider_header .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 10px;
  }

  .products_slider {
    width: 397px !important;
    height: 630px;
  }

  .watch_slider {
    width: 396px !important;
    height: 630px;
  }

  .products {
    grid-template-columns: 404px;
  }

  .products .swiper-navigation {
    left: 12px;
  }

  .products__tiitle {
    font-size: 44px !important;
  }

  .categories {
    grid-template-columns: 137px 137px 137px;
  }

  .categories p {
    font-size: 16px;
  }

  .categories__item {
    height: 200px;
  }

  .categories h2 {
    font-size: 48px;
  }

  .event h2 {
    font-size: 48px;
  }

  .event img {
    max-width: 263px;
  }

  .event_slider {
    width: 100% !important;
    height: 575px;
  }

  

  .event__content {
    grid-template-columns: 263px;
    justify-content: start;
  }

  .event_pos {
    left: 0px;
    width: 431px;
    top: -64px;
  }

  .blog {
    grid-template-columns: 432px !important;
    grid-gap: 10px 0px;
  }

  .blog .cell:nth-child(3) {
    height: 561px;
  }

  .blog .cell:nth-child(2) {
    height: 200px;
  }

  .blog h2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .blog__item {
    width: 376px;
  }

  .about .tarasimage {
    width: 385px;
    left: -10px;
    top: 65px;
  }

  .description__instructions_content p, .description__delivery_content p {
      font-size: 16px;
    }

  .about__header svg,
  .about__bg {
    width: 432px;
  }

  .about__bg {
    top: 20px;
    left: 3%;
  }

  .about__header svg {
    left: -1.5%;
  }

  .about {
    width: 432px;
  }

  .about__header {
    grid-template-columns: 432px;
  }

  .about h2 {
    font-size: 65px;
    width: 468px;
  }

  .about_shadow {
    bottom: -72px;
  }

  .about__blog {
    width: 237px;
    right: 6px;
    z-index: 302;
    top: 454px;
  }

  .about_content {
    grid-template-columns: 432px;
    margin-top: 100px;
  }

  .about_content p {
    width: 432px;
  }

  .about_content .right {
    width: 385px;
    left: 11%;
  }

  .networks__header h2 {
    font-size: 24px;
  }

  .networks__header {
    grid-template-columns: 432px;
  }

  .networks__header .none {
    display: none;
  }

  .networks__link {
    grid-template-columns: 136px 136px 136px;
    grid-gap: 0px 5px;
    top: 33px;
  }

  .networks__link .cell {
    height: 134px;
  }

  .networks__link a {
    font-size: 10px;
    left: 8%;
  }

  .networks__link .cell:first-child > a {
    left: 19%;
  }
  .footer .phone:hover {
    color: #d29440;
  }

  .footer_top_logo svg {
    width: 58px;
    height: 48px;
  }

  .footer_top_logo {
    grid-template-columns: 162px 289px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer_center {
    width: 450px;
    grid-template-columns: 289px 159px;
    grid-gap: 30px 0px;
    margin-top: 60px;
  }

  .footer nav a {
    font-size: 14px;
  }

  .footer .phone {
    font-size: 34px;
  }

  .footer_center .cell:first-child > p {
    margin-left: 20px;
  }

  .footer__up {
    width: 445px;
    position: absolute;
    top: 175px;
    padding: 0;
    left: -113px;
    background-position: 262px 18px;
  }

  .footer_bottom {
    width: 432px !important;
    grid-template-columns: 235px 192px;
    grid-gap: 0px;
  }

  .blog__item {
    bottom: 0;
  }

  .header_container {
    width: 432px;
  }

  .footer_metta {
    margin-top: 20px;
  }

  .footer .mail {
    font-size: 16px;
    position: relative;
    left: 285px;
    width: 272px;
  }

  .header .topmenu .topmenu__link {
    font-size: 16px;
  }

  .header .topmenu li {
    margin-bottom: 25px;
  }

  .name_navbar li {
    margin-bottom: 35px !important;
  }

  .header .topmenu ul {
    margin-top: 10px;
  }

  .event h2 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
     .event_title_h {
    width: 312px;
    margin: auto;
  } 

  .modal_comparison_remove_product_container, .modal_comparison_remove_product a {
    width: 312px;
  }
  
  .description .recommend_slider {
    width: 308px;
  }

  .description .products {
    margin-top: 20px;
  }

  .description .products {
    grid-template-columns: 312px;
  }

  .slider_header__item .mobile_img {
    display: block;
  }

  .slider_header__item .none {
    display: none;
  }

  .slider_header {
    height: auto;
  }

  .top_slider_header {
    min-height: auto;
  }

  .slider_header__item h1 {
    font-size: 24px;
  }

  .slider_header__item a {
    background-color: #d29440 !important;
    width: 182px;
    background: url("../images/mobile_arrow.png") no-repeat right 19%
      bottom 51%;
  }

  .slider_header__item a:hover {
    background-color: #d29440;
    background: url("/public/images/mobile_arrow_ctive.png") no-repeat right 19%
      bottom 51%;
  }

  .slider_header .swiper-navigation {
    top: -61px;
    left: -5px;
  }

  .products__header img {
    width: 153px;
  }

  .products_cart {
    width: 154px;
    height: 419px;
  }

  .products .swiper-slide {
    width: 154px !important;
  }

  .products {
    grid-template-columns: 330px;
  }

  .products_slider {
    width: 308px !important;
    height: 525px;
  }

  .products__header .hit {
    position: relative;
    left: 24px;
  }

  .products__header p {
    font-size: 12px;
  }

  .products__tiitle {
    font-size: 32px !important;
  }

  .watch_slider {
    width: 316px !important;
    height: 525px;
  }

  .products_cart .products_hit {
    height: 201px;
  }

  .products__header {
    height: 263px;
  }

  .products__header img {
    left: 13px !important;
  }

  .products .swiper-navigation {
    top: 50px;
    left: 3px;
  }

  .products_cart_hit .products_price .cell:last-child {
    top: -257px;
    left: 9px;
    width: 39px;
    height: 26px;
  }

  .products_price .cell:last-child > p {
    line-height: 26px !important;
    font-size: 12px !important;
  }

  .products_price .cell:last-child {
    width: 39px;
    height: 26px;
  }

  .products_price .cell:last-child {
    top: -253px;
    left: 7px;
  }

  .products__header svg {
    width: 38px;
    height: 38px;
  }

  .products__header svg.active {
   
    width: 38px;
    height: 38px;
    position: relative;
    top: 0px;
    left: 0px;
  }

  .products__gram .cell {
    width: 67px !important;
    height: 34px !important;
  }

  .products__gram {
    grid-template-columns: 67px 69px;
    grid-gap: 0px 5px;
    position: relative;
    left: 5px;
  }

  .products__gram .cell:last-child {
    width: 63px !important;
    height: 30px !important;
  }

  .products__gram .cell:last-child > p {
    line-height: 30px;
  }

  .products__gram .cell p {
    font-size: 12px !important;
    line-height: 34px;
  }

  .products__reviews svg {
    width: 80px;
    height: 16px;
    margin-top: 5px;
  }

  .products__reviews .cell:first-child > p,
  .products__reviews .cell:last-child > p {
    font-size: 14px;
  }

  .products__name {
    font-size: 12px;
    width: 145px;
    margin-top: 10px;
  }

  .products h2 {
    font-size: 15px;
  }

  .products .price {
    font-size: 18px;
  }

  .footer__up svg {
    width: 11px;
    height: 18px;
    top: 3px;
  }

  .footer_center ul {
    margin-left: 10px;
  }

  .products .discount {
    font-size: 14px;
  }

  .products_price {
    grid-template-columns: 62px 57px;
  }

  .categories h2 {
    font-size: 32px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .categories {
    grid-template-columns: 151px 151px;
  }

  .event h2 {
    font-size: 32px;
  }

  .event img {
    width: 216px;
    height: 216px;
  }

  .event .data {
    width: 94px;
    height: 30px;
  }

  .event .data p {
    font-size: 12px;
    line-height: 30px;
  }

  .event h3 {
    font-size: 36px;
  }

  .event .text {
    font-size: 14px;
  }

  .event_slider {
    width: 100%;
  }

  .event_pos {
    width: 306px;
  }

  .event .more {
    width: 152px;
    height: 52px;
    font-size: 14px;
  }

  .blog {
    grid-template-columns: 312px !important;
  }

  .blog__title {
    font-size: 18px;
  }

  .blog__text {
    font-size: 14px;
  }

  .blog__item {
    width: 276px;
  }

  .blog a {
    position: relative;
    left: 105px;
    top: 75px;
    font-size: 16px;
    background: url("../images/link.png") no-repeat right 10% bottom 46%;
  }

  .blog a:hover {
    color: #fff;
    background: url("../images/link.png") no-repeat right 10% bottom 46% !important;
  }

  .about__header svg,
  .about__bg {
    width: 311px;
  }

  .about .tarasimage {
    width: 311px;
    top: 125px;
    left: -3px;
  }

  .about h2 {
    font-size: 49px;
    width: 348px;
    top: 76%;
  }

  .about {
    width: 310px;
  }

  .about__header {
    grid-template-columns: 310px;
  }

  .about__header svg {
    left: 0%;
  }

  .about__bg {
    top: 118px;
    left: -4px;
  }

  .about__blog {
    right: -5px;
        z-index: 302;
        top: 433px;
  }

  .about_shadow {
    bottom: -124px;
  }

  .about_content {
    margin-top: 145px;
    grid-template-columns: 310px;
  }

  .about_content p {
    width: 310px;
  }

  .about_content h2 {
    font-size: 18px;
  }

  .about_content p {
    font-size: 14px;
  }

  .about_content .right {
    width: 310px;
    left: 0%;
  }

  .networks__header h2 {
    font-size: 18px;
  }

  .networks__header {
    grid-template-columns: 310px;
  }

  .networks__header a {
    font-size: 14px;
    position: relative;
    z-index: 200;
    background: url("../images/terafex.png") no-repeat right 17% bottom 47%;
  }

  .networks__header a:hover {
    color: #fff;
     background: url("../images/terafex.png") no-repeat right 17% bottom 47%;
  }

  .networks__link {
    grid-template-columns: 107px 107px 107px;
    margin-top: 40px;
  }

    .networks__link .cell {
      height: 107px;
    }

    .networks__link  a {
              overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 40px;
        display: block;
        left: 20%;
    }

    .networks__link  a:hover {
     transform: scale(1);
    }

    .footer_top_logo {
      grid-template-columns: 300px;
      justify-content: normal
    }

    .footer .mail {
      left: 16px;
      width: 284px;
      font-size: 14px;
      line-height: 52px;
    }

    .footer_top_logo .cell:first-child > a {
      position: relative;
      left: -10px;
    }

    .footer__text {
      position: relative;
      left: -10px;
    }

    .footer_center {
      width: 310px;
      grid-template-columns: 289px ;
      margin: 0;
      justify-content: space-around;
      margin-top: 63px;
    }

    .footer .phone {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .footer p {
      font-size: 12px;
    }

    .footer_center .cell:first-child > p {
      margin-left: 0px;
    }

    .footer_center .cell:nth-child(3) {
      left: -133px;
    }

    .footer__up {
      width: 332px;
      left: 119px;
      background-position: 205px 18px;
      font-size: 14px;
    }

    .footer_bottom {
      width: 300px !important;
      grid-template-columns: 235px;
      justify-content: center;
    }

    .footer_bottom a {
      display: block;
      text-align: center;
    }
    .footer_cart {
      grid-gap: 0px 10px;
    }

    .footer_item {
      top: 1095px;
    }

    .header_container {
      width: 310px;
    }

    

    .footer_top_logo .cell:first-child {
      left: -40px;
    }

    .bg_item_networks {
      height: 39px;
    }

    .slider_header__item a {
      line-height: 53px;
    }

    

    .about__header {
      margin-top: 0px;
    }

    footer {
      margin-top: -395px;
    }

    .product_besket svg{
      width: 24px;
      height: 24px;
    }

    .product_besket {
          bottom: 11px;
        right: 5px;
    }

    .mySwiperMain .description__cart img {
      width: 312px;
      height: 312px;
    }

    .mySwiperThumbs {
     display: none;
    }

    .mySwiperMain, .mySwiperThumbs {
      width: 312px;
    }
    .description__item {
      grid-template-columns: 312px;
    }

    .description__item .swiperNext {
      left: 111.5% !important;
    }

    .description__title {
      font-size: 12px;
    }

    .description__subtitle {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .description__quantity {
      grid-gap: 0px 95px;
    }

    .description .swiper-navigation {
        left: -135px;
        top: -56px;
    }

    .description__item .swiperPrev {
      left: 152px;
    }

    .description__addcart button {
      font-size: 14px;
      width: 172px;
    }

    .description__stock {
      width: 198px;
    }

    .description__tabs {
      grid-template-columns: 312px;
    }

    .description__tabs button {
      width: 85px;
    }

    

    .description__addcart button, .description__stock, .instructions_btn, .description__delivery, .description__tabs button {
      font-size: 14px;
    }

    .description__addcart {
      grid-template-columns: 184px 59px 59px;
    }

    .description__instructions_content p, .description__delivery_content p {
      font-size: 14px;
    }

    .description__delivery_content p {
      margin-left: 43px;
      margin-top: -5px;
    }

    .description__delivery_content svg {
      width: 40px;
      height: 40px;
    }

     .description__delivery_content .vector_icon {
      width: 18px;
      height: 16px;
          top: 12px !important;
    left: 11px !important; 
     }

     .description__delivery_content li {
      margin-bottom: 30px;
     }

     .characteristics h2 {
      font-size: 16px;
     }

     .characteristics .left li p, .characteristics .right p {
      font-size: 14px;
     }

     .characteristics {
      width: 312px;
      grid-template-columns: 160px 152px;
      grid-gap: 0px 0px;
     }

     .characteristics_text1 {
      margin-bottom: 51px !important;
     }

     .characteristics .left_bottom {
      margin-bottom: 247PX !important;
     }

     .characteristics_text2 {
      margin-bottom: 75px !important;
     }

     .description_content_about h2 {
      font-size: 16px;
     }

     .description_content_about .width p {
      font-size: 14px;
     }

     .description_content_about .width, .description_content_about {
      width: 312px;
     }

     .description_content_about .video img {
      border-radius: 2px;
width: 312px;
height: 175px;

     }

     .description_content_about .video {
      grid-template-columns: 312px !important;
     }

     .video_title p {
      font-size: 12px;
     }

     .video_title {
      width: 122px;
      height: 30px;
     }

     .video h2 {
      font-size: 36px !important;
     }

     .video a {
      font-size: 14px;
      background-position: 110px 23px;
     }

     .video a:hover {
       background-position: 110px 13px;
     }

     .description h3 {
      font-size: 31px;
     }

     .description .products .swiper-navigation {
      left: 16px;
      top: 54px !important;
     }

     .description__user_reviews {
      grid-template-columns: 312px;
     }

     .description__user_reviews .title {
      font-size: 36px;
     }

     .description__user_reviews sub {
      font-size: 22px;
     }

     .description__user_reviews .stars p, .grade__content .cell:first-child > p {
      font-size: 14px;
     }

     .grade__content {
      grid-template-columns: 10px 24px 163px 100px;
     }

     .grade__content .cell:nth-child(3) {
      width: 156px;
     }

     .grade_btn {
      width: 281px;
     }

     .description__user_reviews .star .cell:nth-child(2) > button {

     }

     .description__user_reviews .star button {
      font-size: 14px;
     }

     .user_width, .description__user_reviews .star, .description__user_reviews .user {
      width: 312px;
     }

     .stars_slider, .stars_slider .swiper-slide {
      width: 312px !important;
     }

     .description__user_reviews .star {
      grid-template-columns: 63px 98px 98px 98px 98px 98px;
     }

     .stars_slider .swiper-slide {
      margin-right: 268px !important;
     }

     .user_profile .name {
      font-size: 16px;
     }

     .user .data p {
      font-size: 14px;
     }

     .user .data {
      grid-template-columns: 119px 184px;
      align-items: center;
     }

     .description__user_reviews .delete_reviews.mobile {
      font-size: 12px;
     left: 63%;
        top: 284px;
     }

     .description__user_reviews .grid {
      width: 312px;
     }

     .width_menu {
      width: 312px;
     }

     .menu {
      grid-template-columns: 312px;
      margin-bottom: 40px;
     }

     .description__item > .cell:first-child {
      height: 350px;
     }

     .instructions_btn, .description__delivery {
      width: 312px;
     }

     .menu li {
      margin-right: 4px;
     }

     .slider_header__new {
      margin-left: 20px;
     }

     .slider_header .swiper-pagination-bullet {
      width: 100px !important;
     }

        .bg_header {
  left: -270px;
 }

 .modal_remove_product_container {
  width: 312px;
  grid-gap: 20px 0px;
  grid-template-columns: 312px !important;
 }

 .modal_remove_product a {
  width: 312px;
 }

     .modal_log_out_container {
  width: 312px;
  margin: auto;
  grid-template-columns: 312px;
  grid-gap: 20px 0px;
}

.modal_log_out_right .yes, .modal_log_out_right .no {
  width: 312px;
}

.coockie_container {
      width: 312px;
      margin: auto;
      grid-template-columns: 312px;
      grid-gap: 20px 0px;
    }

    .cookies_accepted, .coockie_item_right .reject {
      width: 300px !important;
    }
     
}

@media screen and (max-width: 380px)  {
.about h2 {
  font-size: 47px;
  width: 347px;
}
}


@media screen and (max-width: 1290px)  {
  .madal1 .modal_main, .madal2 .modal_main, .madal3 .modal_main, .madal4 .modal_main, .madal5 .modal_main {
    padding: 64px 40px;
  
  }

  .modal_back {
    right: 562px;
  }

}

@media screen and (max-width: 768px) {
  .madal1 .modal_main, .madal2 .modal_main, .madal3 .modal_main, .madal4 .modal_main, .madal5 .modal_main {
    padding: 64px 20px;
    width: 392px;
  }

  .madal1 .modal_tittle, .madal2 .modal_tittle, .madal3 .modal_tittle, .madal4 .modal_tittle, .madal5 .modal_tittle {
    font-size: 24px;
  }

  .madal1 .modal_subtittle, .madal2 .modal_subtittle, .madal3 .modal_subtittle, .madal4 .modal_subtittle, .madal5 .modal_subtittle {
    font-size: 16px;
  }

  .modal button {
    width: 385px;
  }

  .madal2 input[type="email"], .madal2 input[type="password"], .madal3 input[type="email"], .madal3 input[type="password"], .madal4 input[type="email"] {
    width: 370px;
  }

  .modal_back {
    right: -317px;
    z-index: 300;
  }

  .madal2 .madal1__text, .madal3 .madal1__text, .madal4 .madal1__text {
    width: 400px;
  }

  /* .madal2 .madal1_account_login, .madal3 .madal1_account_login, .madal4 .madal1_account_login {
    bottom: 179px;
  } */

  .modal button {
    font-size: 16px;
  }

  .password_btn {
    margin-left: 0px;
    font-size: 14px !important;
  }

  .madal1__text {
    width: 400px;
  }

  .modal_favorites_right .cell:last-child {
    grid-column: 1;
        grid-row: 2;
  }

  .modal_favorites_right .cell:first-child {
     grid-column: 1;
        grid-row: 3;
  }

  .modal_favorites_right {
    grid-template-columns: 413px !important;
    justify-items: center;
    grid-gap: 20px 0px;
  }

  .modal_favorites_container {
    grid-template-columns: 416px 0px;
  }

  .modal_favorites_cookies_accepted {
    width: 311px !important;
    padding-left: 100px;
    background-position: 320px !important;
  }


  .modal_favorites_main {
    padding: 15px 0px;
  }
 

  .modal_favorites_cookies_accepted:hover {
    background-position: 320px !important;
  }
}

@media screen and (max-width: 480px) {
  .madal1 .modal_main, .madal2 .modal_main, .madal3 .modal_main, .madal4 .modal_main, .madal5 .modal_main {
    width: 272px;
  }

  .modal button {
    width: 263px;
  }

  .madal2 input[type="email"], .madal2 input[type="password"], .madal3 input[type="email"], .madal3 input[type="password"], .madal4 input[type="email"] {
    width: 250px;
  }

  .madal2 .madal1__text, .madal3 .madal1__text, .madal4 .madal1__text {
    width: 290px;
    font-size: 12px;
  }

  .madal1__text {
    width: 290px;
  }

  .madal1 .modal_subtittle, .madal2 .modal_subtittle, .madal3 .modal_subtittle, .madal4 .modal_subtittle, .madal5 .modal_subtittle {
    font-size: 14px;
  }

  .madal1__text {
    font-size: 12px;
   
  }

  .modal_back {
    right: -200px;
  }

  /* .madal2 .madal1_account_login, .madal3 .madal1_account_login, .madal4 .madal1_account_login {
    bottom: 228px;
  } */

  .modal button {
    font-size: 14px;
  }

  .login_account {
    margin-top: 20px;
  }

  .login_account {
    margin-top: 20px;
  }

  .modal input {
    margin-bottom: 10px;
  }


  .modal_favorites_cookies_accepted {
    width: 250px !important;
    padding-left: 40px;
    background-position: 230px !important;
  }

  .modal_favorites_cookies_accepted:hover {
    background-position: 230px !important;
  }

  .coockie_item_right .cookies_accepted, .modal_favorites_cookies_accepted, .modal_besket_add, .coockie_item_right .reject, .modal_favorites_reject, .modal_besket_remove {
    font-size: 14px;
  }

  .modal_favorites_right, .modal_favorites_container {
    grid-template-columns: 292px !important;
  }
 
  .coockie_container p, .modal_favorites_container p, .modal_besket p {
    font-size: 14px;
  }

  .modal_favorites_container {
    grid-gap: 5px 0px;
  }

  .modal_besket_right a {
    padding-left: 70px;
    width: 242px !important;
    background-position: 220px !important;
  }

  .modal_besket_main {
    padding: 10px 0px;
  }

  .modal_besket_right a:hover {
     background-position: 220px !important;
  }

  .modal_besket_container {grid-template-columns: 363px 0px !important;
    justify-items: center;
  }

  .modal_besket_right {
    grid-template-columns: 315px;
  }

  .modal_filtr p {
    font-size: 16px;
  }

}



@media screen and (max-width: 700px) {
  .modal_catalog_filtr_main {
    padding: 0px 20px;
  }

  .modal_catalog_filtr {
    width: 430px;
  }

  .modal_catalog_filtr_name {
    font-size: 16px;
  }

  .modal_catalog_filtr form {
    width: 397px;
  }

  #range_slider {
    width: 347px;
  }

  .filters_price_input {
    width: 123px;
  }

  .filters_price {
    grid-template-columns: 133px 10px 133px;
  }

  .modal_catalog_filtr input[type="submit"] {
    width: 369px;
  }

  .modal_catalog_filtr .reset {
    left: 112px;
  }

  .modal_catalog_filtr button {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .modal_catalog_filtr {
    width: 312px;
  }

  .modal_catalog_filtr_title {
    font-size: 28px;
  }

  .modal_catalog_filtr_name, .modal_catalog_filtr button {
    font-size: 14px;
  }

  .modal_catalog_filtr form {
    width: 270px;
  }

  .modal_catalog_filtr_item {
    grid-template-columns: 148px 100px;
  }

  #range_slider {
    width: 240px;
  }

   .filters_price_input {
    width: 80px;
   }

   .filters_price {
    grid-template-columns: 107px 10px 107px;
   }

   .modal_catalog_filtr input[type="submit"] {
    width: 253px;
   }

   .modal_catalog_filtr .reset {
    left: 55px;
   }
}


/* @media screen and (max-width: 1170px) {
  .event_slider {
    width: 100%;
  }

  .event_slider .swiper-slide {
      width: 90%;
  }


  
} */
