#payment {
  display: grid;
  grid-template-columns: 1147px 454px;

  width: 1600px;
  margin: auto;
}

.payment__data {
  font-size: 160px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.05);
  font-family: "Roboto Medium";
}

#payment input[type="text"] {
  float: left;
}

.payment__phone {
  display: grid;
  grid-template-columns: 62px 449px 496px;
  grid-gap: 0px 10px;
  align-items: center;
}

#payment input[type="email"],
#payment input[type="text"] {
  width: 496px;
  height: 59px;
  background-color: #0a0a0a;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  outline: none;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Roboto Medium";
  margin-right: 10px;
}

#payment input[type="text"] {
  margin-bottom: 10px;
}

#payment input[type="email"] {
  margin-right: 0px !important;
}

#payment input[type="tel"] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 427px;
  height: 59px;
  background-color: #0a0a0a;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Roboto Medium";
}

.payment__phone p {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Medium";
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
  top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.payment__phone .cell:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  height: 59px;
}

.payment__surname {
  width: 1026px !important;
}

.payment .checkbox_policy {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
  color: #fff;
}

.payment .checkbox_policy a {
  color: #d29440;
}

.payment .m_top {
  margin-top: 20px;
}

.custom_ckeckbox {
  display: inline-block;
  background-color: #0a0a0a;
  border-radius: 2px;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin-right: 10px;
  position: relative;
}

.custom_ckeckbox::before {
  background-image: url("../images/besket/ckeckbox.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.payment__policy:checked + .custom_ckeckbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.payment__policy {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.checkbox_policy {
  cursor: pointer;
}

.payment__delivery {
  font-size: 160px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.05);
  font-family: "Roboto Medium";
  margin-bottom: 40px;
  display: block;
  margin-top: 100px;
}

.payment .save {
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  font-family: "Roboto Regular";
}

.payment .adress {
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  font-family: "Roboto Regular";
  margin-left: 25px;
}

.adres_radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #0a0a0a;
  border: 1px solid #fff;
  vertical-align: sub;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}

.adres_radio::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.payment__adress:checked + .adres_radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.payment .save {
  cursor: pointer;
}

.payment__adress {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

input:focus .adres_radio {
  display: none;
}

.payment__del {
  display: grid;
  grid-template-columns: 948px 93px;
  margin-top: 30px;
}

.payment__del .none {
  margin-top: 0px;
}

.street_label {
  cursor: pointer;
  margin-bottom: 30px;
  display: block;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  margin-top: 30px;
  position: relative;
}

.payment__del .text1 {
  font-size: 18px;
  color: #fff;
  display: block;
  position: relative;
  top: -25px;
  left: 35px;
}

.payment__del p {
  font-size: 16px;
  line-height: 150%;
  color: #d29440;
  font-family: "Roboto Regular";
}

.payment__del .free_pos {
  position: relative;
  top: 100px;
}

.payment__order_data {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
}

.payment .border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.payment__text {
  font-size: 160px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.05);
  font-family: "Roboto Medium";
  margin-top: 80px;
  display: block;
}

.payment__card_text {
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  font-family: "Roboto Regular";
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}

.payment__card_label {
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  font-family: "Roboto Regular";
  cursor: pointer;
}

.payment__card {
  font-size: 24px;
  font-family: "Roboto Regular";
  margin-bottom: 5px;
  position: relative;
  left: 33px;
  top: 5px;
}

.payment__card_details {
  background: url("../images/besket/card.png") no-repeat center;
  height: 510px;
  width: 906px;
  margin-top: 50px;
}

.payment .number_card {
  width: 81px;
  background-color: #0a0a0a;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-left: 30px;
  outline: none;
  color: #fff;
  font-size: 18px;
  height: 59px;
}

.payment__number {
  display: grid;
  grid-template-columns: 81px 81px 81px 81px;
  grid-gap: 0px 44px;
  background-color: #0a0a0a;
  margin-bottom: 110px;
  position: relative;
  top: 50px;
  left: 30px;
  width: 200px;
}

.payment__card_action {
  display: grid;
  grid-template-columns: 500px 155px;
  margin-left: 40px;
  margin-top: 70px;
}

.payment__text2 {
  font-size: 18px;
  font-family: "Roboto Regular";
  line-height: 150%;
  color: #fff;
}

.payment__month {
  display: grid;
  grid-template-columns: 34px 7px 56px;
  align-items: center;
  grid-gap: 0px 10px;
}
.payment__month input {
  background-color: #0a0a0a;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 56px;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  height: 59px;
  color: #fff;
  font-family: "Roboto Regular";
  font-size: 18px;
}

.payment__card_details .user {
  width: 615px !important;
  margin-left: 20px;
  margin-top: 20px;
}

.payment__card_details .cvv {
  width: 112px;
  height: 59px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  font-family: "Roboto Regular";
  outline: none;
  font-size: 18px;
  background-color: #0a0a0a;
  padding-left: 30px;
}

.payment__cvv {
  float: right;
  position: relative;
  top: 5px;
  left: -35px;
}

.payment__comment_title {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-top: 60px;
}

.payment__comment {
  width: 900px;
  height: 35px;
  background-color: #0a0a0a;
  border-left: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-top: none;
  color: #fff;
  font-family: "Roboto Medium";
  font-size: 18px;
  padding-left: 20px;

  outline: none;
  position: relative;
  z-index: 300;
  margin-top: 40px;
  padding-top: 10px;
}

.payment .bg {
  background-color: rgba(255, 255, 255, 0.05);
  width: 492px;
  height: 437px;
  padding: 0px 30px;
  margin-top: 50px;
}

.payment__order {
  display: grid;
  grid-template-columns: 223px 62px;
  justify-content: center;
  grid-gap: 0px 177px;
  margin-top: 30px;
}

.payment__order .cell:first-child > p {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.5);
}

.payment__order p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
}

.payment__order .text {
  color: #d29440;
}

.payment__total_price {
  font-family: "Roboto Medium";
  font-size: 24px;
  line-height: 150%;
  text-align: right;
  position: relative;
  left: -30px;
  margin-top: 30px;
}

.payment__total_price span,
.payment__total_price sub {
  font-size: 40px;
}

.payment__total_price sub {
  position: relative;
  top: -5px;
}

.payment__code {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-bottom: 10px;
}

.payment__code .text {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.5);
}

.payment .submit {
  background-image: url("../images/besket/submit.png");
  background-repeat: no-repeat;
  background-position: 325px 22px;
  border-radius: 2px;
  background-color: #d29440;
  width: 458px;
  height: 59px;
  max-height: 59px;
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Medium";
  color: #fff;
  margin-top: 50px;
  cursor: pointer;
  border: none;
}

.payment .submit:hover {
  background-image: url("../images/active_right.png");
  background-repeat: no-repeat;
  background-position: 325px;
  background-color: #fff;
  color: #d29440;
}

footer {
  margin-top: -340px !important;
}

@media screen and (max-width: 1680px) {
  #payment {
    grid-template-columns: 800px;
    width: 800px;
  }

  .payment__data {
    font-size: 80px;
  }

  #payment input[type="text"] {
    width: 368px;
  }

  .payment__surname {
    width: 771px !important;
  }

  .payment__phone {
    grid-template-columns: 62px 449px;
  }

  #payment input[type="email"] {
    width: 772px;
  }

  #payment input[type="tel"] {
    width: 704px;
  }

  .payment__delivery,
  .payment__text {
    font-size: 80px;
  }

  .payment__del {
    grid-template-columns: 692px 93px;
  }

  .payment__card_details {
    max-width: 800px;
    width: 800px;
    background-size: 800px 451px;
  }

  .payment__card_details input[type="text"] {
    width: 483px !important;
  }

  .payment__card_action {
    grid-template-columns: 417px 155px;
  }

  .payment__comment {
    width: 778px;
  }

  .payment__cvv {
    left: -25px;
  }

  .payment .bg {
    width: 740px;
    position: relative;
    z-index: 300;
  }

  .payment__order {
    justify-content: space-between;
  }

  .payment__total_price {
    left: 6px;
  }

  .payment .submit {
    width: 729px;
    background-position: 460px 22px;
  }

  .payment .submit:hover {
    background-position: 460px 13px;
  }
}

@media screen and (max-width: 960px) {
  .payment__data {
    font-size: 60px;
  }

  #payment {
    width: 608px;
    grid-template-columns: 608px;
  }

  #payment input[type="text"] {
    width: 272px;
  }

  .payment__surname {
    width: 574px !important;
  }

  #payment input[type="tel"] {
    width: 504px !important;
  }

  #payment input[type="email"] {
    width: 574px !important;
  }

  .payment__delivery,
  .payment__text {
    font-size: 60px;
  }

  #payment input,
  .payment .checkbox_policy,
  .payment .save,
  .payment__del .text1,
  .payment__order_data,
  .payment__card_text,
  .payment__comment {
    font-size: 16px !important;
  }

  .payment .adress,
  .street_label,
  .payment__card {
    font-size: 18px;
  }

  .payment__del {
    grid-template-columns: 511px 93px;
  }

  .payment__card_details {
    max-width: 608px;
    width: 608px;
    background-size: 608px 383px;
  }

  .payment__number {
    top: 70px;
    grid-gap: 0px 14px;
  }

  .payment__number input {
    width: 82px !important;
  }

  .payment__card_action {
    grid-template-columns: 254px 123px;
  }

  .payment__card_details input[type="text"] {
    width: 382px !important;
  }

  .payment__card_details .cvv {
    width: 85px;
    padding-left: 15px;
  }

  .payment__cvv {
    left: -26px;
    top: -2px;
  }

  .payment__comment {
    width: 586px;
  }

  .payment .bg {
    width: 548px;
  }

  .payment__order .cell:first-child > p,
  .payment__order p,
  .payment__code .text {
    font-size: 16px;
  }

  .payment__total_price {
    font-size: 18px;
  }

  .payment__total_price span,
  .payment__total_price sub {
    font-size: 36px;
  }

  .payment .submit {
    width: 536px;
    background-position: 360px 22px;
  }

  .payment .submit:hover {
    background-position: 360px 13px;
  }
}

@media screen and (max-width: 768px) {
  .payment__data {
    font-size: 48px;
  }

  #payment {
    width: 432px;
    grid-template-columns: 432px;
  }

  .payment__surname {
    width: 410px !important;
  }

  #payment input[type="text"] {
    width: 410px;
  }

  .payment__phone {
    grid-template-columns: 62px 360px;
  }

  #payment input[type="tel"] {
    width: 338px !important;
  }

  #payment input[type="email"] {
    width: 410px !important;
  }

  .payment .checkbox_policy {
    font-size: 14px !important;
  }

  .payment__delivery,
  .payment__text {
    font-size: 48px;
  }

  .payment__del {
    grid-template-columns: 334px 93px;
  }

  .payment__card_details {
    background: none;
  }

  .payment__card_details {
    max-width: 432px;
    width: 432px;
    height: 285px;
    margin-top: 0px;
  }

  .payment__number {
    top: 0px;
    margin-bottom: 10px;
  }

  .payment__card_action {
    margin-top: 20px;
    grid-template-columns: 128px 123px;
  }

  .payment__card_action > .cell:last-child {
    grid-column: 1;
    grid-row: 1;
  }

  .payment__card_action img {
    display: none;
  }

  .payment__comment {
    width: 410px;
  }

  .payment .bg {
    width: 372px;
  }

  .payment__cvv {
    left: -11px;
    top: -154px;
  }

  .payment__order {
    grid-gap: 0px 100px;
  }

  .payment__total_price span, .payment__total_price sub {
    font-size: 24px;
  }

  .payment .submit {
    width: 358px;
    background-position: 265px 22px;
    transition: 0.3s ease-in;
  }

  .payment .submit:hover {
    background-position: 265px;
  }

  .payment__card {
    left: 26px;
  }
}


@media screen and (max-width: 480px) {
  .payment__data {
    font-size: 36px;
  }

  #payment {
    width: 312px;
    grid-template-columns: 312px;
  }

  #payment input[type="text"] {
    width: 290px;
  }

  .payment__surname {
    width: 286px !important;
  }

  #payment input[type="tel"] {
    width: 213px !important;
  }

  #payment input[type="email"] {
    width: 285px !important;
  }

  .payment .checkbox_policy {
    display: block;
    width: 275px;
  }

  .payment__delivery, .payment__text {
    font-size: 36px;
    margin-top: 50px;
  }

  #payment input, .payment .checkbox_policy, .payment .save, .payment__del .text1, .payment__order_data, .payment__card_text, .payment__comment {
    font-size: 14px !important;
  }

  .payment .adress, .street_label, .payment__card {
    font-size: 16px;
  }

  .payment .save {
    vertical-align: -webkit-baseline-middle;
  }

  .payment__del {
    grid-template-columns: 218px 93px;
  }

  .payment__del p {
    font-size: 14px;
  }

  .payment__number {
    grid-template-columns:  65px 65px 65px 65px;
    justify-content: center;
    width: 240px;
  }

  .payment__number input {
           width: 50px !important;
        padding-left: 20px !important;
  }

  .payment__card_details {
            max-width: 312px;
        width: 312px;
  }

  .payment__text2 {
    font-size: 16px;
  }

  .payment__card_action {
    margin-left: 0px;
  }

  .payment__card_details input[type="text"] {
    margin-left: 0px;
    width: 277px !important;
    padding-left: 10px !important;
  }

input:hover::placeholder {
  font-size: 14px;
}

.payment__comment {
  width: 288px;
  margin-top: 0px;
  height: 35px;
}

.payment__order .cell:first-child > p, .payment__order p, .payment__code .text {
  font-size: 14px;
}

.payment .bg {
  width: 250px;
}

.payment__order {
  grid-gap: 0px;
  grid-template-columns: 206px 58px;
}

.payment__total_price {
  left: -1px;
}

.payment .submit {
  width: 239px;
  background-position: 200px 23px;
}

.payment__phone {
  grid-template-columns: 62px 240px;
}
 
}
