.besket__products {
  grid-template-columns: 245px 431px;
}

.profile__title {
  font-size: 160px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.05);
  font-family: "Roboto Medium";
}

.profile__item {
  display: grid;
  grid-template-columns: 369px 522px;
  justify-content: space-between;
  justify-items: center;
}

.profile {
  width: 1600px;
  margin: auto;
}

.profile__user {
  display: grid;
  grid-template-columns: 100px 245px;
  grid-gap: 0px 15px;
  align-items: center;
  margin-bottom: 120px;
  position: relative;
}

.profile__user_name {
  font-size: 24px;
  line-height: 150%;
  font-family: "Roboto Medium";
}

.profile__user_discount {
  font-size: 18px;
  line-height: 150%;
  color: #d29440;
}

.profile__log_out {
  background: none;
  border: none;
  font-size: 18px;
  line-height: 150%;
  color: #ff3b30;
  cursor: pointer;
  position: absolute;
  bottom: -43px;
  left: 5px;
}

.profile__user_text {
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto Regular";
}

.profile__item .textToCopy {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Medium";
}

.profile__promo_code {
  display: grid;
  grid-template-columns: 150px 32px;
  align-items: center;
  grid-gap: 0px 310px;
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.profile__item .clipboard {
  cursor: pointer;
  border: none;
  background: url("../images/profile/CopyButton.png") no-repeat center;
  width: 32px;
  height: 32px;
}
.profile__item .top {
  position: relative;
  top: 50px;
  height: 100px;
}

.profile__tabs ul li {
  float: left;
  margin-right: 5px;
}

.profile__tabs button {
  cursor: pointer;
  width: 516px;
  z-index: 200;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Medium";
  padding-bottom: 20px;
}

.profile__tabs button.active {
  color: #d29440;
  border-bottom: 1px solid #d29440;
}

.profile__tabs {
  margin-bottom: 100px;
}

.profile_filtr {
  background-color: #0a0a0a;
  border: none;
  padding-right: 10px;
  color: #fff;
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 150%;
  outline: none;
}

.profile__filtr_item {
  display: grid;
  grid-template-columns: 227px 119px;

  justify-content: space-between;
  grid-gap: 0px 100px;
  margin-bottom: 40px;
}
.profile__filtr_item p {
  text-align: right;
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.5);
}

.profile_acardion {
  background: url("../images/btn_acardion.png") no-repeat right;
  background-position: right;
  text-align: left;
  width: 1600px;
  font-size: 40px;
  line-height: 135%;
  font-family: "Roboto Medium";
  border: none;

  color: #fff;
  position: relative;
  cursor: pointer;
  padding: 0;
  z-index: 300;
}

.profile_acardion span {
  font-size: 18px;
  font-family: "Roboto Regular";
  display: inline-block;
  border-radius: 2px;
  width: 125px;
  height: 39px;
  background-color: rgba(255, 255, 255, 0.05);
  line-height: 39px;
  position: relative;
  top: -10px;
  text-align: center;
}

.profile__finished {
  border-radius: 2px;
  font-family: "Roboto Regular";
  background-color: #d29440;
  width: 111px;
  height: 39px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  line-height: 39px;
  position: relative;
  top: -10px;
}

.profile___new_order .col {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.5);
}

.progress_bar {
  display: grid;
  grid-template-columns: 36px 470px 12px 470px 12px 565px 36px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.progress_bar .cell:nth-child(2),
.progress_bar .cell:nth-child(4) {
  height: 1px;
  width: 470px;
  background-color: #d29440;
}

.progress_bar .cell:nth-child(6) {
  height: 1px;
  width: 570px;
  background-color: #d29440;
}

.profile .delivery {
    display: grid;
    grid-template-columns:503px 482px 451px 161px;
}

.profile .delivery  .cell:last-child {
    text-align: right;
}

.profile .delivery p {
    font-size: 24px;
line-height: 150%;
 font-family: "Roboto Regular";
}

.profile .delivery span {
    font-size: 18px;
line-height: 150%;
 font-family: "Roboto Regular";
 color: rgba(255, 255, 255, 0.5);
}

.profile_product_order  {
    margin-top: 100px;
}

.profile__quantity {
    text-align: right;
    font-size: 16px;
line-height: 150%;
 font-family: "Roboto Regular";
 margin-bottom: 300px;
 margin-top: 50px;
}

.title_text1 {
    font-size: 18px;
line-height: 150%;
color: rgba(255, 255, 255, 0.5);
text-align: right;
margin-top: 40px;
}

.besket__products {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 30px;
}

.profile__acadion_content {
     transition: 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    width: 1610px;
}

.btn_active_tabs {
        background: url("../images/profile/hide_btn.png") no-repeat right !important;
}

footer {
    margin-top: -150px !important;
}

.profile__total_price {
      background-color: rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    float: right;
    width: 492px;
    height: 306px;
    padding: 0px 30px;
    margin-bottom: 40px;
}

.profile__discount_header {
    display: grid;
    grid-template-columns: 200px 100px;
    justify-content: center;
    grid-gap: 0px 165px;
    margin-top: 20px;
}

.profile__discount_header .cell:first-child > p{
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.5);
     font-family: "Roboto Regular";
     margin-bottom: 20px;
}

.profile__discount_header .cell:last-child > p {
    font-size: 18px;
line-height: 150%;
  font-family: "Roboto Regular";
  text-align: right;
  margin-bottom: 20px;
}



.profile__discount_header .text {
    color: #d29440;
}

.promo_none {
    font-size: 18px;
line-height: 150%;
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

.profile__total_price .total_price {
    font-size: 24px;
line-height: 150%;
font-family: "Roboto Regular";
text-align: right;
margin-top: 20px;
}   

.profile__total_price .total_price span, .profile__total_price .total_price sub {
    font-size: 40px;
      font-family: "Roboto Medium";
}

.profile__total_price .total_price sub {
    position: relative;
    top: -5px;
}

.profile__repeat_order_btn {
    background-image: url("../images/profile/repeat.png");
    background-repeat: no-repeat;
    background-position: 901px 15px;
    background-color: #d29440;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
width: 1600px;
height: 59px;
max-height: 59px;
font-size: 18px;
font-family: "Roboto Regular";
}

.profile__repeat_cancel_order {
    width: 1600px;
height: 59px;
max-height: 59px;
font-size: 18px;
color: #fff;
font-family: "Roboto Regular";
background: none;
border: none;
cursor: pointer;
background-image: url("../images/profile/cancel_order.png");
    background-repeat: no-repeat;
    background-position: 901px 15px;
}


.profile__content_tabs {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.3s all;
    overflow: hidden;
}

.profile__content_tabs.active {
     visibility: visible;
    height: auto;
    opacity: 1;
}

.payment__data {
    font-size: 40px !important;
line-height: 135% !important;
 font-family: "Roboto Medium" !important;
 color: #fff !important;
 margin-bottom: 30px;
 display: block;
}

.payment__delivery {
    font-size: 40px !important;
line-height: 135% !important;
font-family: "Roboto Medium" !important;
color: #fff !important; 
}

.payment__text {
        font-size: 40px !important;
line-height: 135% !important;
font-family: "Roboto Medium" !important;
color: #fff !important; 
margin-bottom: 40px;
}

.payment_title {
    font-family: "Roboto Regular";
    font-size: 18px;
line-height: 150%;
color: rgba(255, 255, 255, 0.5);
margin-bottom: 40px;
}

.save_data {
    border-radius: 2px;
    background: #d29440;
    border: none;
width: 500px;
height: 59px;
max-height: 59px;
color: #fff;
font-size: 18px;
  font-family: "Roboto Regular";
  margin-top: 250px;
  margin-bottom: 30px;
  cursor: pointer;
}

.payment .botoom {
    position: absolute;
    top: 159%;
}

#payment {
    grid-template-columns: 1088px 500px !important;
}

.save_textcopy {
    display: none;
}

.filtr_myreviews select{
    background-color: #0a0a0a;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto Regular";
    padding-right: 10px;
    border: none;
    outline: none;
}

.filtr_myreviews p {
    font-size: 18px;
line-height: 150%;
color: rgba(255, 255, 255, 0.5);
}

.filtr_myreviews .clear_myreviews {
    background: none;
    border: none;
    color: #fff;
     font-family: "Roboto Medium";
     font-size: 18px;
     cursor: pointer;
}

.filtr_myreviews {
    display: grid;
    grid-template-columns: 227px 275px ;
    justify-content: space-between;
    margin-bottom: 40px;
    
}

.filtr_myreviews_rught {
    display: grid;
    grid-template-columns: 99px 134px;
    float: right;
    align-items: center
}

.myreviews__title {
    display: grid;
    grid-template-columns: 180px 233px;
    grid-gap: 0px 10px;
    align-items: center;
    margin-bottom: 15px;
}

.myreviews__text_reviews {
    font-size: 18px;
line-height: 150%;
color: rgba(255, 255, 255, 0.5);
font-family: "Roboto Regular";
margin-bottom: 20px;
}

.myreviews__title p {
    font-size: 18px;
    font-family: "Roboto Regular";
}

.myreviews {
    display: grid;
    grid-template-columns: 850px 161px;
justify-content: space-between
}

.myreviews__product {
    display: grid;
    grid-template-columns: 155px 329px;
}

.myreviews__product .cell:first-child {
    background-color: rgba(255, 255, 255, 0.05);
    width: 133px;
height: 133px;
}

.myreviews__discount {
    border-radius: 2px;
    background: #d29440;
width: 47px;
height: 33px;
text-align: center;
line-height: 33px;
position: relative;
top: -45px;
left: 10px;
}

.myreviews__product_title {
    font-size: 16px;
line-height: 150%;
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.5);
}

.myreviews__product_subtitle {
    font-size: 24px;
line-height: 150%;
color: #fff;
margin-top: 0px;
margin-bottom: 0px;
}

.myreviews__product_title_gram {
    font-size: 16px;
line-height: 150%;
 color: rgba(255, 255, 255, 0.5);
}

.myreviews__product_price, .myreviews__product sub {
    font-size: 36px;
line-height: 135%;
  font-family: "Roboto Medium";

}

.myreviews__product sub {
    position: relative;
    top: -4px;
}

.myreviews__product_text {
  font-family: "Roboto Regular";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.myreviews__product_currency {
    font-family: "Roboto Regular";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.myreviews {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 40px;
    padding-bottom: 40px;

}

.myreviews .delete_reviews_btn {
    background: none;
    border: none;
    color: #fff;
    text-align: right;
    font-size: 18px;
line-height: 150%;
  font-family: "Roboto Regular";
  cursor: pointer;
  margin-top: 100px;
}

.save_data:hover {
  background-color: #fff;
  color: #d29440;
}

.profile_acardion.active {
  color: #d29440;
  background: url("../images/acardion_active.png") no-repeat right !important;
}

.profile_filtr:hover {
  color: #d29440;
}

.profile__item .clipboard:hover {
background: url("../images/active_copy_text.png") no-repeat  center !important;
}

