.comparison__content {
    display: grid;
    grid-template-columns: 254px 254px 254px;
    grid-gap: 0px 25px;
}

.comparison__back_catalog {
    display: block;
    border-radius: 2px;
    background: #d29440;
width: 207px;
height: 59px;
max-height: 59px;
text-align: center;
cursor: pointer;
line-height: 59px;
color: #fff;
  font-family: "Roboto Regular";
  font-size: 18px;
  background-image: url("../images/comparison/arrow_left.png");
  background-repeat: no-repeat;
  background-position: 21px 21px;
  padding-left: 30px;
}

.comparison__item {
    display: grid;
    grid-template-columns: 237px 300px;
    justify-content: space-between;
    margin-bottom: 60px;
}

.comparison {
    width: 1600px;
    margin: auto;
}

.comparison__right {
   display: grid;
    grid-template-columns: 100px 200px;
    text-align: right;
}

.comparison__item p {
    font-size: 18px;
line-height: 150%;
color: rgba(255, 255, 255, 0.5);
font-family: "Roboto Regular";
}

.comparison__item button {
    font-size: 18px;
line-height: 150%;
font-family: "Roboto Regular";
color: #fff;
background: none;
border: none;
cursor: pointer;
}

.comparison__content p {
    font-size: 18px;
line-height: 150%;
font-family: "Roboto Regular";
color:  rgba(255, 255, 255, 0.5);
}

.comparison__content li  {
    margin-bottom: 40px;
}

.comparison__content_col p {
    color: #fff;
}

.comparison__content .item_text {
    height: 690px;
}

.comparison__content .text2 {
    margin-bottom: 55px;
    margin-top: 68px;
}

.comparison__content_toptitle {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Roboto Regular";
    margin-bottom: 10px;
    display: inline-block;
}

.comparison__content_bottomtitle {
    font-size: 36px;
     font-family: "Roboto Medium";
}

.comparison__content_diskount {
    display: inline-block;
    border-radius: 2px;
    background: #d29440;
    text-align: center;
width: 56px;
height: 39px;
line-height: 39px;
position: relative;
top: -8px;

}

.comparison__content .text3 {
    margin-bottom: 67px;
}

.comparison__content .text4 {
    margin-bottom: 262px;
}

.comparison__content .text5 {
    margin-bottom: 90px;
}

.comparison__content_pos p {
    margin-bottom: 10px;
}

.comparison__content_mbottom {
    margin-bottom: 250px;
}

.comparison__content button {
    border-radius: 2px;
    background: #d29440;
    border: none;
width: 254px;
height: 59px;
max-height: 59px;
font-family: "Roboto Medium";
color: #fff;
font-size: 18px;
cursor: pointer;
margin-top: 20px;
margin-bottom: 20px;
}

.comparison__content_rating {
    background-image: url("../images/comparison/StarIcon.png");
    background-repeat: no-repeat;
    background-position: -2px 1px;
    margin-left: 0px;
    width: 110px;
    text-align: right;
    color: #d29440 !important;
}  

.comparison__content .text6 {
    width: 90px;
}

.comparison__content_remove {
    cursor: pointer;
}

.comparison__content_title {
    font-size: 16px !important;
    font-family: "Roboto Regular" !important;
}

.comparison__content_subtitle {
    color: #fff !important;
    font-size: 24px !important;
     font-family: "Roboto Regular" !important;
}


