

.swiper-scrollbar-drag {
  background: #3e82da !important;
  width: 200px !important;
}



.clients .swiper-slide {
  transition: transform 0.5s ease;
  padding: 40px 0 !important;
  margin-right: 20px !important;
}

.clients .swiper-slide-active {
  transform: scale(1.2) !important; /* Увеличиваем на 20% */
  margin-top: -20px;
}

.clients .swiper-slide-active .slide-hide {
  opacity: 0;
}

.clients .swiper-slide-active img {
  width: 170px;
  height: 193px;
}



.mobile_values .swiper-slide {
  margin-right: 10px !important;
}



.laravel .swiper-scrollbar-drag {
  width: 400px !important;
  grid-column-start: 1;
  grid-column-end: 1;
}

.accordion-content {
  max-height: 0; /* Изначально скрыт */
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out; /* Плавная анимация */
  padding: 0 ;
}
.accordion-content.open {
  opacity: 1;
  max-height: 500px; /* Большое значение, чтобы вместить контент. Анимируется от 0 до этого значения */
  padding: 0px;
}

/* .ios .mc_header {
  display:none
} */

::-webkit-scrollbar {
  width: 3px; /* Ширина полосы */
}

::-webkit-scrollbar-track {
  background: #515151; /* Цвет фона трека */
}

::-webkit-scrollbar-thumb {
  background-color: #3e82da; /* Цвет бегунка */
  
}

.move:before  {
    content: "";
    background-image: url("../images/Laravel/checkbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.input_checkbox:checked + .move:before {
      transform: translate(-50%, -50%) scale(1) !important;
}


/* .swiper-scrollbar {
  bottom: 0 !important; 
  left: 0% !important; 
  width: 100% !important; 
  position: absolute !important;
}

.swiper-scrollbar-drag {
  top: 0 !important; 
  left: 0 !important; 
   transform: translate3d(300px, 0px, 0px) !important;
  
} */


.item-active:hover .active-link  {
   background-image: url("../images/btn_icon_active.svg");
   background-repeat: no-repeat;
   background-position: 0px 0px;
}


.image-container {
    position: relative; /* Пример, чтобы изображения были друг над другом */
    cursor: pointer;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.3; /* Начальная прозрачность */
    transition: opacity 0.3s ease; /* Плавный переход */
}

.image-container img.visible {
    opacity: 1; /* Полная прозрачность при наведении */
}

.image-container img.hidden {
    opacity: 0.3; /* Возврат к начальной прозрачности */
}


svg{
    transition: all 0.3s ease-in;
}


button:not(header, .none-spassing) , a:not(header a, .not-spacing_text a, footer a) {
  letter-spacing: 2px ;
  
  
   /* word-spacing: 4px;  */
}

/* [word-spacing:2px] tracking-[2px]  */




@media screen and (max-width: 1200px) {
  .clients .swiper-slide-active {
  transform: scale(1.3) !important; /* Увеличиваем на 20% */
 
}

/* .item-active {
  pointer-events: none;
}

.item-active a {
  pointer-events: auto ;
} */



.clients .swiper-slide-active img {
  width: 125px;
  height: 100px ;
}

.clients .swiper-slide {
 margin-right: 10px !important;
}
}




.icon {
  width: 124px !important;
  height: 124px !important;
  fill: red;
  position: absolute;
  z-index: 200;
}

.icon use {
   width: 124px !important;
  height: 124px !important;
}

#icon-name {
  width: 100px !important;
  height: 100px !important;
}

















/* Пример использования min-height: он не анимируется, но не даст блоку стать меньше 200px */
